[2020-07-17 01:21] mjabbink commented on #613
@sadekbazaraa

[2020-07-17 01:25] mjabbink commented on #608
But on the top of color page images touch both in desktop and mobile.

These not have 32 spacing in mobile and should touch in mobile too.

<img width="371" alt="Screen Shot 2020-07-16 at 8 20 03 PM" src="https://user-images.githubusercontent.com/32881239/87738214-7af92880-c7a2-11ea-8664-4e0339f9c261.png">

[2020-07-17 01:25] mjabbink commented on #608
<img width="1529" alt="Screen Shot 2020-07-16 at 8 19 49 PM" src="https://user-images.githubusercontent.com/32881239/87738236-82b8cd00-c7a2-11ea-9d9e-0c824bf9bb6f.png">

[2020-07-17 01:32] #589 closed

[2020-07-17 13:06] vpicone commented on #600
Spacing issues have been resolved w/ latest theme release

[2020-07-17 13:12] vpicone commented on #608
@mjabbink the spacing in the swatch palletes is unrelated to any of the spacing changes recently. It's always been hard coded 32px of space below each pallete.

[2020-07-17 13:38] mjabbink commented on #600
Spacing is now inconsistent across many pages. Looks like we not to go over every page again to correct. @vpicone @sadekbazaraa @peter-garvin

[2020-07-17 13:48] mjabbink commented on #600
i.e. the spacing between the black images in mobile: https://www.ibm.com/design/language/typography/typeface

[2020-07-17 13:58] mjabbink commented on #600
@sadekbazaraa ill make a separate issue but the 32px now causes the space between stacked images with captions to be too large: https://www.ibm.com/design/language/animation/tips-and-techniques/#camera

Versus with 24px it looked like this:
https://www.ibm.com/brand/architecture/#outside-in

I’ll make a new issue to explore all of this again with a page by page audit.

[2020-07-17 14:05] mjabbink commented on #600
@sadekbazaraa ill make a separate issue but the 32px now causes the space between stacked images with captions to be too large: https://www.ibm.com/design/language/animation/tips-and-techniques/#camera

Versus with 24px it looked like this: https://www.ibm.com/brand/architecture#outside-in

[2020-07-17 14:07] mjabbink commented on #600
@vpicone still related to this issue. These are Using different spacing than Do Nots. https://www.ibm.com/design/language/animation/tips-and-techniques/#complexity

These should be the same spacing treatment

[2020-07-17 14:09] mjabbink commented on #600
@vpicone this section also has both 23px and 32px. Also this same issue.
https://www.ibm.com/design/language/animation/tips-and-techniques/#examples

[2020-07-17 14:30] vpicone commented on #600
@mjabbink those are design language issues, I have open PRs for them. Do you have any spacing issues that are present in the theme right now at gatsby-theme-carbon.now.sh?

[2020-07-17 14:52] vpicone commented on #600
@mjabbink you already opened #613 for those issues, no need to re-open this one. I have a PR to address #613 here https://github.com/carbon-design-system/design-language-website/pull/623

[2020-07-17 14:52] #600 closed

[2020-07-17 17:31] mjabbink opened #627 "IDL: Spacing issue Typography > Typeface"
https://www.ibm.com/design/language/typography/typeface#typeface-features

Above this header there seems to be extra space and not sure if the spacing applied to the set of black imgaes is right?

Black image spacing:

Mobile:
![Screen Shot 2020-07-17 at 10.55.05 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/0608c145-1b8b-4da7-9552-0492b331993a)
.

Desktop:
![Screen Shot 20

[2020-07-17 17:32] mjabbink commented on #627
The space above header should be 80px but there is additional added here:

<img width="923" alt="Screen Shot 2020-07-17 at 12 27 45 PM" src="https://user-images.githubusercontent.com/32881239/87814567-96f3dd00-c829-11ea-9faf-6f6078468c32.png">

[2020-07-17 17:36] vpicone commented on #559
@sadekbazaraa going to close this one since the video+lottie situation is resolved.

re: lazy loading We'd might want to implement that fade up effect across the board rather than just a single page/component type? The fact that we use video, images, and lottie makes it a bit trickier, but we could do it on here to test.

We'd need a spec for which components and which content would have this effe

[2020-07-17 17:36] #559 closed

[2020-07-17 19:08] mjabbink commented on #541
The list is in the right order now but there is a space in between the list now. Also with some recent spacing updates it looks like even more spaces will be added within the list (see below preview)

https://design-language-website-git-fork-vpicone-update-theme.carbon-design-system.vercel.app/typography/typeface#language-support

@vpicone I reckon I’ll make a fresh issue to capture this.

[2020-07-17 19:10] mjabbink commented on #541
current:

<img width="363" alt="Screen Shot 2020-07-17 at 2 06 53 PM" src="https://user-images.githubusercontent.com/32881239/87822510-353a6f80-c837-11ea-99b2-e8abca51e37c.png">

[2020-07-17 21:27] #608 closed

[2020-07-20 16:31] mjabbink commented on #615
A reminder this has been the priority issue and remains as such.

[2020-07-20 16:33] mjabbink opened #632 "Homepage spacing. There is now added space between some of the image cards in mobile"
There used to be 1px black between those cards.

.
![Screen Shot 2020-07-20 at 11.26.12 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/66c216f6-5105-4f25-b966-f5e8e53c3398)

.
![Screen Shot 2020-07-20 at 11.26.20 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/dfbcf8f5-8d11-44da-9ad9-2094a3ef36ad)

.
![Screen Shot 2020-07-20 at 11.26.29 AM.png](https://

[2020-07-20 16:35] mjabbink commented on #632
assume related to #613

[2020-07-20 16:38] mjabbink commented on #632
@sadekbazaraa

[2020-07-20 23:34] #613 closed

[2020-07-20 23:34] #627 closed

[2020-07-20 23:34] #632 closed

[2020-07-21 13:32] #596 closed

[2020-07-21 15:02] mjabbink opened #635 "[IDL] Animation > Tips and techniques: Animations missing"
Now not working in Desktop and new issues as this all worked a few days ago.

Missing animations:

https://www.ibm.com/design/language/animation/tips-and-techniques/#examples

https://www.ibm.com/design/language/animation/tips-and-techniques/#rhythm

https://www.ibm.com/design/language/animation/tips-and-techniques/#volume

https://www.ibm.com/design/language/animation/tips-and-techniques/#sequent

[2020-07-21 15:10] mjabbink opened #636 "[IDL] Typeface > Language support"
The list is in the right order now but there is a spaces in between the list now. Also with some recent spacing updates it looks like even more spaces will be added within the list. (see below images)

https://www.ibm.com/design/language/typography/typeface#language-support

mobile:

![87822510-353a6f80-c837-11ea-99b2-e8abca51e37c.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/

[2020-07-21 15:14] mjabbink commented on #635
This the absolute priority again.

[2020-07-21 15:16] mjabbink commented on #615
This issue is not resolved. Now more images are missing and not auto playing.

[2020-07-21 15:19] mjabbink opened #637 "[IDL]: Illustration > all tabbed “Usage” pages are missing images"
Every Usage page for the three styles has missing and non playing images

https://www.ibm.com/design/language/illustration/line-style/usage

https://www.ibm.com/design/language/illustration/flat-style/usage

https://www.ibm.com/design/language/illustration/isometric-style/usage

[2020-07-21 17:11] mjabbink opened #638 "[IDL]: Spacing should be 32px between images"
spacing not 32px in between certain rows.

https://www.ibm.com/design/language/illustration/isometric-style/design/#examples

https://www.ibm.com/design/language/illustration/isometric-style/design/#circular-curves

https://www.ibm.com/design/language/illustration/isometric-style/design/#organic-curves

https://www.ibm.com/design/language/illustration/isometric-style/design/#rounded-corners-and-ne

[2020-07-21 17:12] mjabbink commented on #638
@vpicone connected to the other spacing issues regarding the 32px between cards and images

[2020-07-21 17:13] mjabbink commented on #638
and maybe this is resolved already but not merged?

[2020-07-21 18:32] vpicone commented on #638
@mjabbink The spacing stuff has been merged, so these would need to be overriden. The recent 32px movement has created a ton of edge cases since our default on these components has been 24px for 8 months.

[2020-07-21 23:46] mjabbink opened #643 "[IDL] Pictograms > Contribute"
Add code snippets to text (see UI icons > Contribute)

Can you tackle this in markdown @conradennis?

[2020-07-21 23:56] mjabbink commented on #637
@vpicone
Only one missing now is the main video with blue play button.
https://www.ibm.com/design/language/illustration/line-style/usage/#animation

[2020-07-21 23:57] mjabbink commented on #637
https://www.ibm.com/design/language/illustration/flat-style/usage#animation

and

https://www.ibm.com/design/language/illustration/isometric-style/usage#animation

[2020-07-22 00:38] mjabbink commented on #586
tackled in IDL repo.
https://github.ibm.com/brand/design-language/issues/184

[2020-07-22 02:06] vpicone commented on #637
@mjabbink our publish script got stuck, should be good to go now.

[2020-07-22 13:01] vpicone commented on #637
Investigating the three main videos on mobile.

[2020-07-22 15:03] conradennis commented on #643
PR made by Sadek here: https://github.com/carbon-design-system/design-language-website/pull/645

[2020-07-22 22:20] mjabbink commented on #638
Need to discuss with @jeanservaas and @sadekbazaraa

[2020-07-22 22:22] mjabbink commented on #501
@vpicone @conradennis I think this will be resolved once Michael Dudley replaces all pictograms with the expanded versions.

[2020-07-22 22:53] mjabbink opened #651 "[IDL]: Remove broken Mini-cards and replace with links in body copy paragraph"
@dana-paslaru Remove Mini-cards and explore two design options for this page: https://www.ibm.com/design/language/data-visualization/design/basics

1. Just use the side caption text link with launch out icon with maybe rule above text. Something like here: https://www.ibm.com/design/language/philosophy/pov

2. Place the “Learn more on Carbon > ” as a text link in the paragraph of text.

3. Maybe t

[2020-07-22 22:59] #637 closed

[2020-07-23 17:54] mjabbink opened #652 "Replace large blue video player button w/ new smaller gif player"
https://www.ibm.com/design/language/animation/tips-and-techniques/#examples

.

[Uploading... Screen Shot 2020-07-23 at 12.53.38 PM.png ]

[2020-07-23 23:04] mjabbink opened #654 "[IDL]: The upper left site name is no longer clickable to home page."
Both IDL and Carbon names are no longer clickable to take a user back to the homepage.

[2020-07-23 23:05] mjabbink commented on #615
Seems resolved now

[2020-07-23 23:07] mjabbink commented on #635
Seems resolved now but maybe the new small gif player can be used to replace the large blue player button on the large animation

[2020-07-23 23:07] #615 closed

[2020-07-23 23:14] vpicone commented on #654
closing in favor of theme issue: https://github.com/carbon-design-system/gatsby-theme-carbon/issues/938

[2020-07-23 23:14] #654 closed

[2020-07-23 23:59] mjabbink commented on #654
As long as it remains a priority

[2020-07-24 00:50] #652 closed

[2020-07-24 00:50] vpicone commented on #635
Merged a fix for #652, closing this one as well

[2020-07-24 00:50] #635 closed

[2020-07-24 01:52] #515 closed

[2020-07-24 02:02] mjabbink opened #656 "[IDL]: Animation > Lead animation poster image needs to be higher resolution"
https://www.ibm.com/design/language/animation/overview

If comparing the poster image on the Animation Overview lead animation it is considerably lower quality than the other poster images here:
https://www.ibm.com/design/language/2x-grid
https://www.ibm.com/design/language/typography/typeface
https://www.ibm.com/design/language/iconography/ui-icons/design
https://www.ibm.com/design/language/motio

[2020-07-24 03:50] mjabbink commented on #635
Image still missing or large gap. https://www.ibm.com/design/language/animation/tips-and-techniques/#examples

![602265D5-835B-4643-A1E1-3A39592168F9](https://user-images.githubusercontent.com/32881239/88359043-d98c4c80-cd36-11ea-90b3-3c1e261db9a2.png)

[2020-07-24 15:31] sadekbazaraa commented on #656
@mjabbink I uploaded a new high res poster image and it's a bit crisper now. Vimeo applies a touch of compression automatically.

[2020-07-24 20:20] mjabbink commented on #656
great. The images look way better so this one must have got twice the compression or something. Not sure. Thanks @sadekbazaraa

[2020-07-24 20:20] mjabbink commented on #656
Can I close this issue>

[2020-07-24 21:15] sadekbazaraa commented on #656
Yep, all good to close @mjabbink

[2020-07-24 21:15] #656 closed

[2020-07-27 18:33] mjabbink opened #667 "Typography > Type specs: In mobile this page should be locked horizontally."

[2020-07-28 07:59] mjabbink opened #670 "[mobile]: Animations to not auto play and/or are missing again"
Same exact issue from last week is back again.

—Chrome mobile shows missing video icon or no image at all.

here:
https://www.ibm.com/design/language/illustration/line-style/usage

https://www.ibm.com/design/language/illustration/flat-style/usage

https://www.ibm.com/design/language/illustration/isometric-style/usage

https://www.ibm.com/design/language/animation/tips-and-techniques/

[2020-07-28 08:01] mjabbink commented on #670
Showing these new illustration and animation pages to Phil on Wednesday. He always checks mobile.

[2020-07-28 08:05] mjabbink opened #671 "Duplicate image"
https://www.ibm.com/design/language/iconography/ui-icons/design#angles

<img width="989" alt="Screen Shot 2020-07-28 at 3 06 08 AM" src="https://user-images.githubusercontent.com/32881239/88637079-52650e80-d07f-11ea-86ed-f53ad074b429.png">

[2020-07-28 08:15] mjabbink commented on #671
@peter-garvin Maybe you can edit this in markdown?

[2020-07-28 11:49] DanaPaslaru commented on #651
@mjabbink Hi, I've done a first round of explorations for these, please let me know what you think about it. Thanks!

1. with side caption + launch out icon:

<img width="650" alt="with side caption" src="https://user-images.githubusercontent.com/64195956/88660858-30e83f00-d0e0-11ea-9994-1d0d833d2d5c.png">

2. with "Learn more on Carbon" as text link:

a. in the paragraph:

<img width="686" alt="w

[2020-07-28 12:15] vpicone commented on #670
@mjabbink try refreshing, all four pages are working on chrome/safari/firefox mobile browsers for me.

![animation](https://user-images.githubusercontent.com/4078018/88663901-e516a500-d0a1-11ea-9c4d-9d7fdefa434a.gif)

[2020-07-28 14:05] mjabbink commented on #651
I think inline links can be text color which will help.

[2020-07-28 14:08] mjabbink commented on #670
I did reboot chrome several times and did not work. It works now thought even without rebooting. Not sure what was going on last night. All good.

[2020-07-28 14:08] #670 closed

[2020-07-28 14:55] DanaPaslaru commented on #651
Hi, then something like this?

<img width="926" alt="image" src="https://user-images.githubusercontent.com/64195956/88682482-62223880-d0fb-11ea-9d7f-f508fb2598b8.png">

Thanks!

[2020-07-28 21:31] #671 closed

[2020-07-29 09:14] DanaPaslaru commented on #651
@mjabbink Hi, I did a little research and it seems that markdown doesn't support color, but I'll try to add a class to this inline element, so we can define a color for it. Thanks!

[2020-07-30 16:45] mjabbink opened #679 "[IDL] Update left nav"
Update the order of left navigation and insert rules to create distinct clustering. @sadekbazaraa I think we do not need to have that extra space to separate the Sketch kits since we now have the rules in between clusters. Those are just another cluster.

![Screen Shot 2020-07-30 at 11.42.52 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/df007a7e-6c77-4405-8ea3-7abbd5c00c90)

[2020-08-03 15:55] vpicone commented on #679
@mjabbink is there no help dropdown anymore?

[2020-08-03 16:38] sadekbazaraa commented on #679
@vpicone Mike is out this week. I believe the missing Help menu is totally an oversight. The idea is to move What's New to the top of the group.

It should be:
– What's new
– Resources
– Help

That's a good point about the Resource links. Let's just leave those as they are now to be consistent across all the sites. We can revisit them as a whole to see if we want to make a change across the board.

[2020-08-04 17:36] vpicone commented on #679
@sadekbazaraa @aagonzales made a similar issue in the Carbon website, should we look at removing it in the theme?

https://github.com/carbon-design-system/carbon-website/issues/1348

[2020-08-04 17:41] mjabbink commented on #679
Good catch. It was 100% oversight and what @sadekbazaraa noted above is correct.
It should be:
– What's new
– Resources
– Help

[2020-08-04 17:43] mjabbink commented on #679
@vpicone This was prioritized but when moved it lost that. I had placed it at the top of the list along with App icons library issue.

[2020-08-04 18:04] conradennis opened #681 "[IDL pictograms] Usage tab Clearance section showing both desktop and mobile versions of artwork simultaneously"
@vpicone @mjabbink On Firefox and Chrome, Usage tab Clearance section is showing both the 16:9 desktop version and 1:1 mobile version of artwork simultaneously. On mobile images are sized incorrectly, possibly due to this issue. Similar issue is happening on Carbon: https://github.com/carbon-design-system/carbon-website/issues/1512

Desktop:
![screencapture-ibm-design-language-iconography-pictogra

[2020-08-04 20:04] #636 closed

[2020-08-04 20:04] #667 closed

[2020-08-04 20:19] mjabbink commented on #681
@conradennis Can you tackle this in markdown or do we need Aux squad?

[2020-08-05 00:28] mjabbink commented on #679
<img width="798" alt="Screen Shot 2020-08-04 at 6 27 30 PM" src="https://user-images.githubusercontent.com/32881239/89358319-416c5c80-d680-11ea-9d51-b1b8c5bd2ccf.png">

[2020-08-05 00:30] mjabbink commented on #512
@peter-garvin I fee like there are 4–5 more since you last posted above.

[2020-08-05 01:56] peter-garvin commented on #512
yes theres maybe 20–30 more that I'll need to package up. they just keep coming

[2020-08-07 18:08] vpicone commented on #681
@mjabbink already tackled this

[2020-08-07 18:08] #681 closed

[2020-08-08 16:31] mjabbink commented on #512
@vpicone @sstrubberg. Please make this a priority for the next sprint.

[2020-08-08 16:32] mjabbink commented on #679
@vpicone This issue is a priority for the next sprint.

[2020-08-08 16:36] mjabbink commented on #564
@jeanservaas and @jnm2377 What is the status of this page?

[2020-08-11 17:17] mjabbink commented on #679
@sstrubberg I forgot to spec the spacing after an opened nav. Should be 24px

[2020-08-11 17:40] mjabbink commented on #679
@sadekbazaraa Should,we be adding 24px after the last item in open left nav sections?

i.e.

<img width="705" alt="Screen Shot 2020-08-11 at 11 38 41 AM" src="https://user-images.githubusercontent.com/32881239/89930090-6c4a3980-dbc7-11ea-8e5d-9635f84d53ed.png">

[2020-08-11 17:46] mjabbink commented on #679
and also here:

<img width="552" alt="Screen Shot 2020-08-11 at 11 45 45 AM" src="https://user-images.githubusercontent.com/32881239/89930610-41141a00-dbc8-11ea-9bba-91d27b9a1b80.png">

[2020-08-11 17:49] mjabbink commented on #679
@sadekbazaraa @vpicone @sstrubberg Sorry gents, I overlooked spec‘ing this situation out. Currently it looks like we do not add any additional space after the last item in an opened state. I can go either way here. One is space efficient and the added space might help a user navigate the content clearly.

[2020-08-11 18:47] jeanservaas commented on #679
didn't @aagonzales  also look at this in
https://github.com/carbon-design-system/carbon-website/issues/1348

I think I might keep the spacing the same regardless

[2020-08-11 18:59] mjabbink commented on #679
ok, let’s leave the spacing as is and see what it all looks like once it’s on the glass. We can always create an issue to add that space later.

[2020-08-11 19:52] mjabbink opened #687 "[IDL]: Create color palette image for mobile and update"
https://www.ibm.com/design/language/ibm-logos/8-bar/#color

In mobile the color palette image should be like below (6 swatches across):

<img width="363" alt="Screen Shot 2020-08-11 at 1 54 00 PM" src="https://user-images.githubusercontent.com/32881239/89942632-25b20a80-dbda-11ea-820f-11dd40ede99c.png">

[2020-08-11 19:55] mjabbink commented on #687
@DianaStanciulescu Can you update to include a mobile image. If you can tackle in markdown please proceed.

[2020-08-11 19:59] mjabbink commented on #679
so we will carry on with this spacing for now.

![Uploading Screen Shot 2020-08-11 at 1.58.44 PM.png…]()

[2020-08-12 16:23] peter-garvin commented on #512
@Lori-Mapes @DianaStanciulescu @pbenson
I've uploaded a new batch of icons that need metadata as well. Here is a spreadsheet of new icons and icons that have been assigned and renamed. Anything that doesnt have an entry in the Old Name field is a net new icon

[New app icons.xlsx](https://github.com/carbon-design-system/design-language-website/files/5064194/New.app.icons.xlsx)

[2020-08-12 16:24] peter-garvin commented on #512
theyre labelled light theme but the same info applies to the dark theme version as well

@mjabbink that was 55 new icons!

[2020-08-12 19:49] LMapes commented on #512
@peter-garvin I see these.

[2020-08-12 22:24] philljenkins opened #689 "Replace link to Accessibility Checklist with link to IBM Equal Access Toolkit on Resources page"
## Link to [IBM Equal Access Toolkit](https://www.ibm.com/able/toolkit) (not Accessibility Checklist) on Resources page

## Environment

### as is:
**Accessibility**
IBM firmly believes that ... Please visit our [Accessibility Checklist](https://www.ibm.com/able/guidelines/ci162/accessibility_checklist.html) that will help ensure that ...

### to-be:
**Accessibility**
IBM firmly believes that ...

[2020-08-12 22:45] pbenson322 commented on #512
@peter-garvin @LMapes  I see them, too.

[2020-08-13 13:23] LMapes commented on #512
@DianaStanciulescu is it possible to get another Word file so we can add the metadata?

[2020-08-13 13:28] DianaStanciulescu commented on #512
hi @LMapes ! these were the latest word files that you and peggy worked on, the light version and the identical dark one : https://ibm.box.com/s/wxn4zx99wn4yx8q0iyrcxslgcg0v0u3c

[2020-08-13 15:44] mjabbink commented on #651
let’s go for version “a”

[2020-08-13 15:47] mjabbink commented on #586
@DanaPaslara

[2020-08-13 16:46] conradennis opened #690 "[IDL] IDL/Carbon UI icon contribution guidance is outdated and needs updating"
tagging @mjabbink so you're aware.

I'll create a draft and have Lori review before I update in markdown.

**Changes to be made to the following sections**

Making an icon
- [ ] Remove all mentions of creating 16x16px canvas/icons
- [ ] Update `Production ready` section

Exporting SVGs
- [ ] Clarify all icon artwork drawn and submitted as Ai files
- [ ] Remove Sketch section

[2020-08-13 17:46] conradennis commented on #690
Updated copy for https://www.ibm.com/design/language/iconography/ui-icons/contribute/
Note: Carbon uI icon contribution page should also be updated with the following.

### Making an icon
- Create a 32px x 32px artboard for each icon.
- 32 px icons should have 2 px padding.
- Set your workspace up from the start to snap to pixels and round values to whole pixels to avoid correcting shapes later.
-

[2020-08-13 21:43] LMapes commented on #512
@peter-garvin @DianaStanciulescu @pbenson322 has the files now to make edits.

[2020-08-14 09:34] DanaPaslaru commented on #651
@mjabbink Hi, here are the two preview urls for this issue, for Data Vis Overview page and Data Vis Design Basics page:

https://design-language-website-git-fork-danapaslaru-patch-3.carbon-design-system.vercel.app/data-visualization/design/basics/

https://design-language-website-git-fork-danapaslaru-patch-2.carbon-design-system.vercel.app/data-visualization/overview

Please let me know if all is

[2020-08-14 14:28] #457 closed

[2020-08-14 15:59] DianaStanciulescu commented on #687
I started a PR but I keep getting weird behaviours. I would like to get it to work myself, so I hope this can wait a week.

The link is here if not: https://github.com/carbon-design-system/design-language-website/pull/688

[2020-08-14 21:10] vpicone commented on #512
@DianaStanciulescu @peter-garvin looks like the metadata hasn't been updated for a bit do we have an up to date version and location for the final app icon files?

[2020-08-14 21:37] #587 closed

[2020-08-14 21:57] #679 closed

[2020-08-14 22:24] peter-garvin commented on #512
@vpicone

1. yes the latest files are there
2. yes
3. not always identical, i'll leave out some words like 'for' or 'and', maybe abbreviations for products that use abbreviation themselves. Is there anything currently that is non-latin? I know some have a ~ in order to put unassigned icons at the bottom of the list alphabetically. Open to suggestions
4. @DianaStanciulescu may know more about this,

[2020-08-15 00:55] vpicone commented on #512
@peter-garvin this is the one that stood out as non-latin: `app-icon-light-新视界.svg`.

In regards to the tilde, `_` is a more standard prefix for distinguishing internal/unused files. However, using it would, would move them to the _top_ of the list when sorted (not sure if that's an issue?). I have an idea though: what if _instead_, we named them then used an `unused: true` piece of metadata to tr

[2020-08-15 01:52] vpicone commented on #651
@mjabbink what am I lookin at here?

[2020-08-15 04:23] mjabbink commented on #651
The removal of the broken (old) mini cards.

[2020-08-15 06:31] mjabbink commented on #651
The preview links look correct so seems good to go.

[2020-08-15 13:17] vpicone commented on #651
When @DanaPaslaru changes her PR from draft to ready for review, we'll be pinged automatically to look at it.

[2020-08-16 16:27] peter-garvin commented on #512
ahhh ok i forgot about that one, I can change that. I agree with your suggestions

[2020-08-18 02:15] mjabbink commented on #687
the preview link not letting me get to the logo page.

[2020-08-18 02:17] mjabbink commented on #583
@vpicone I think you resolved.

[2020-08-18 02:17] #583 closed

[2020-08-18 02:18] mjabbink commented on #501
@conradennis Keep an eye on this issue once Michael Dudley resolves the huge breaking change update to pictograms.

[2020-08-20 14:43] LMapes commented on #690
@conradennis Actually, the page on IDL is already corrected to the new Contribution process as of closing on this issue:
https://github.ibm.com/brand/bxd/issues/77 So, unless you want to add the additional information you have here, which I think is taken from the read.me file for UI icons, everything currently on the IDL UI icons > Contribute page under Contribution process is fine. Let me know h

[2020-08-20 17:12] conradennis commented on #690
@LMapes right, the part that needs updating is everything before the Contribution section but I included all sections on the page just in case

[2020-08-24 10:24] DianaStanciulescu commented on #512
@vpicone we did fill in the aliases as they were searchable keywords, since this is my understanding of how they are used? I though the name "alias" was set in stone and part of the yml file structure.  Anyway - the aliases are indeed there to help searches, they are not alternate names for the app icons.

I added the stroke/fill/... etc as aliases also for search reasons, and also to help us sort

[2020-08-24 20:44] sadekbazaraa opened #701 "[IDL] Data Vis: Overview and Design page minicard bug"
Learn more mini-cards are not working properly
https://www.ibm.com/design/language/data-visualization/overview

![Screen Shot 2020-08-24 at 4 12 51 PM](https://user-images.githubusercontent.com/33162280/91094522-ea2b2d80-e628-11ea-800b-38df03fba1af.png)

[2020-08-25 02:14] vpicone opened #703 "Add link to isometric starter kit"
When it's ready, we need to be sure the link gets added and the coming soon note removed here: https://www.ibm.com/design/language/illustration/isometric-style/production#automated-object-transformations

[2020-08-25 03:19] mjabbink commented on #545
@vpicone Hows this puppy coming along?

[2020-08-25 03:21] #701 closed

[2020-08-25 17:46] LMapes commented on #512
@DianaStanciulescu Here is the metadata file you seek. https://ibm.box.com/s/k3gd5gpdxyrpepnfuoycvkom7m0qb105

[2020-08-25 18:22] mjabbink commented on #526
@vpicone moved this back up in priority. It’s been missing for over a year so seems easy enough to add. @sadekbazaraa @jeanservaas

[2020-08-25 18:27] mjabbink commented on #564
@jeanservaas and @jnm2377 This seems so close. Let’s prioritize this please.

[2020-08-25 19:35] vpicone commented on #545
@mjabbink the glass has been hit

[2020-08-25 19:35] #545 closed

[2020-08-26 09:21] DianaStanciulescu commented on #687
@mjabbink preview link ready to be reviewed for both 8-bar and rebus: https://design-language-website-git-dianastanciulescu-patch-2.carbon-design-system.vercel.app/

[2020-08-27 21:49] mjabbink commented on #651
Looks done

[2020-08-27 21:49] #651 closed

[2020-08-27 21:50] mjabbink commented on #586
@DanaPaslaru I think you tackled with Filip already.

[2020-08-27 21:50] #586 closed

[2020-08-27 21:58] mjabbink opened #710 "Color: Add spacing between images and play/pause button causing image to disappear"
https://www.ibm.com/design/language/color/#gradients

@sadekbazaraa

[2020-08-27 23:30] mjabbink commented on #526
@sadekbazaraa Since we removed this page I’m not sure where we have the source animation we used. Maybe you have this handy or do you guys have it @vpicone?

[2020-08-27 23:32] sadekbazaraa commented on #710
@mjabbink Whoa, weird. I see two of the same images, one static, one with the play/pause button. The image should span 12 columns, not 8.

![Screen Shot 2020-08-27 at 7 25 23 PM](https://user-images.githubusercontent.com/33162280/91504507-590fbd00-e89b-11ea-9f0c-598503baf7a2.png)

[2020-08-27 23:33] mjabbink commented on #710
Also looks like the images is repeating?

[2020-08-27 23:41] sadekbazaraa commented on #526
@mjabbink https://vimeo.com/281513709

[2020-08-28 21:30] vpicone opened #714 "Make link with Carbon more apparent."
The intrinsic link between IDL and Carbon should be apparent and obvious to users of either site. We want to make sure the relationship is clear.

[2020-09-01 15:46] #710 closed

[2020-09-01 17:34] sadekbazaraa opened #717 "[IDL] Remove "Motion UI" pages and left nav link"
Now that we have a full "Animation" section, this content is addressed there briefly and points to the Carbon site for Motion in UI guidance.

https://www.ibm.com/design/language/animation/overview/#user-interface

[2020-09-01 17:42] mjabbink opened #718 "Explore more emphasis to drive to Carbon as Digital Design system."
Things to explore

Maybe a horizontal card (like the scale of Carbon homepage ones) on the top with Card (Carbon Design System)
and Elements (as they are or edited down) underneath.

or

- [ ]  Update first Card to say **“Carbon Design System”** and Link to Carbon landing page instead of Carbon components.

- [ ]  Add an **“About”** in left nav and really layout IDLs purpose and aim to Carbon Desi

[2020-09-01 18:15] kennethhartmann opened #752 "Rebus pattern source files"
IBM Logos>Rebus

## Detailed description

@sadekbazaraa I just noticed the Rebus pattern folder and source files are open to the public. As the Rebus requires usage approvals, I think these patterns want to be gated behind an IBM login: https://www.ibm.com/design/language/ibm-logos/rebus#patterns

![Screen Shot 2020-09-01 at 2.08.02 PM.png](https://images.zenhubusercontent.com/5e1e1ddea8ad747aa5d0

[2020-09-01 22:50] vpicone commented on #512
@DianaStanciulescu any updates on the metadata just yet?

[2020-09-02 09:14] DianaStanciulescu commented on #512
@vpicone I just started working on it, and realized that the new icons are missing aliases & category, so I am now going through all of them adding this and making the changes we discussed.

I am working in here: https://github.com/carbon-design-system/design-language-website/pull/719

I hope to have it done by the end of the day today or tomorrow

[2020-09-02 19:02] #687 closed

[2020-09-02 19:03] DianaStanciulescu commented on #512
@vpicone done! there should be another round of cleanup but I think this version can work as a v1. I still need to figure out where to place the dark/light switcher for the entire page, I will work on that next.

[2020-09-02 20:06] vpicone commented on #512
@DianaStanciulescu great thanks!

[2020-09-02 23:49] mjabbink commented on #718
latest thought

**Foundation**
IBM Brand Center
IBM Design
IBM Design Language
IBM Accessibility

**Disciplines**
Carbon Design System
Event Design
Workplace Design

**Practices**
Enterprise Design Thinking
IBM Design Research
IBM Design for AI
IBM iX (edited)

[2020-09-03 00:20] sadekbazaraa commented on #718
@mjabbink there's a lot of good thoughts in here for sure. I think the content switcher updates can happen sooner than later and this list makes a lot of sense. I see the move to take away "Design" from in front of "Disciplines" and "Practices". I do think we may need some ways to reinforce that the nav switcher is representative of a design-oriented ecosystem. Having those labels sort of implied

[2020-09-03 02:14] mjabbink commented on #718
It’s just that all the above and below the disciplines have it included so just trying to have a visual synchronicity with it all and be crystal clear.

[2020-09-03 02:16] mjabbink commented on #718
@sadekbazaraa alternative

**Foundation**
IBM Brand Center
IBM Design
IBM Design Language
IBM Accessibility

**Design disciplines**
Carbon
Event
Workplace

Practices
Enterprise Design Thinking
IBM Design Research
IBM Design for AI
IBM iX (edited)

[2020-09-03 02:19] mjabbink commented on #718
I think I prefer previous and calling things what they are but a discussion to be had. We also have to content with removing Digital and making sure that is clear and evident in Carbon site. From Carbon aim to the dot com library site (essential a PAL for Dotcom).

[2020-09-03 13:09] janchild commented on #718
@mjabbink @sadekbazaraa

I am liking this third one (the last one) because of the simplicity of the mid-section. In one of my versions I had Design in front of each of the headings and I do like the feeling that that gave. It might seem repetitive but it's useful. I like the rhythm of it, and the repetition is a confirmation of where you are. It saves you from spending time thinking about how thes

[2020-09-03 13:25] DianaStanciulescu commented on #718
Hi! From my perspective, not knowing the entire strategy and thought that went behind this:
- repeating design in the labels makes sense, it gives context and I do not mind the repetition
- In the top category, IBM Design sounds like an all encompassing site, and to me it is more of an organizational one... can it be named IBM Design something to make its purpose more clear? Maybe it's just me, bu

[2020-09-03 15:16] janchild commented on #718
Hi @DianaStanciulescu, you are right about the order. I see that these are not in the current order and they probably should be, unless there was a reason they were changing? Not sure, @mjabbink if that was intentional.

[2020-09-03 15:41] mjabbink commented on #718
It should all get reconsidered. I realize w3.ibm.com communicates IDL and Carbon (IBM Design System) as Practices which makes the switcher already not synched up. Is that even the best way to talk about those sites/content? Are they Practices like IBM Design Research or EDT? They are different indeed. Just pointing out that it all needs to be reconsidered and articulated.

[2020-09-03 16:26] mjabbink commented on #718
Another thought

**Foundation**
IBM Brand Center
IBM Design
IBM Design Language
IBM Accessibility

**Design system**
Carbon for Product
Carbon for Dotcom

**Disciplines**
Event Design
Workplace Design

**Practices**
Enterprise Design Thinking
IBM Design Research
IBM Design for AI
IBM iX (edited)

[2020-09-03 23:33] #564 closed

[2020-09-04 08:21] DianaStanciulescu commented on #718
Aren't event and workplace also design systems?  I like "design systems" as a category name, it is obvious what they are; "discipline" and "practice" is something I am personally still struggling with

[2020-09-04 13:02] kennethhartmann opened #721 "[Color] Error on Yellow/Orange alert colors in specs"
## Color Palette | Yellow/Purple

@alisonjoseph would you please add Michael Dudley (dudley@us.ibm.com) and Sandeep Kandimalla (ksandeep@us.ibm.com) to this repo–thank you! They should both be mentioned on this issue–thank you!

[2020-09-04 14:25] alisonjoseph commented on #721
Just sent invites to both 👍

[2020-09-04 16:32] mjabbink opened #722 "Add “close” icon to the Blue BLM banner."
@jeanservaas @aagonzales Can you provide any specs (icon size) and is it G10 or White? Do we use the fill (round icon) on hover?

@vpicone Can we make sure once closed it does reload on another page but only on another site visit.

![Screen Shot 2020-09-04 at 11.27.33 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/08b9b377-0adc-48f1-b2c2-21fa5779aae8)

.

![Screen Shot 2020-

[2020-09-04 16:32] sadekbazaraa commented on #721
Not sure where the PMS colors for Orange and Yellow came from originally but they should be as follows.

**Yellow**
Change "Alert 20" to "Alert 30"
Change "2645" to "116"

**Orange**
Change "2645" to "1575"

[2020-09-04 21:40] mjabbink commented on #718
@DianaStanciulescu technically these are all systems including IDL. But the we speak to it differently in w3 IBM Design site. It all needs some rethinking but we are just trying to do an interim improvement

[2020-09-08 10:02] DianaStanciulescu commented on #512
@peter-garvin @sadekbazaraa, we discussed with Vince the placement of the dark/light tabs on the page, and it would be simpler for a user to have a single set of tabs for the entire page; this way, searching or going for one category to the next will not affect the displayed bg color. This is a solution I was thinking of, do you think the search bar remains too small? Should we remove the dropdown

[2020-09-08 14:37] sadekbazaraa commented on #512
@DianaStanciulescu I think this solution could work as well. I wonder if it breaks the patterns that we're using anywhere else for similar functionality? I think some of these considerations came up for the new data vis color section on the Carbon site which I don't think is live just yet.

[2020-09-08 15:56] DianaStanciulescu commented on #512
@sadekbazaraa this is the reason I initially removed the tabs from the top bar; however, the experience would be worse, and the page has extra functionality vs the UI icon and pictos page, so I am thinking it is ok to break that pattern.

[2020-09-08 17:47] mjabbink commented on #512
@DianaStanciulescu I think the tabs/dropdown can align on the app icon grid. Worth a try but maybe the containers will be too small?

[2020-09-08 17:48] mjabbink commented on #512
an I do think it’s worth effecting the whole page between dark/light icons

[2020-09-08 18:35] mjabbink commented on #578
@vpicone — I now created this issue here: https://github.ibm.com/brand/plex/issues/55

[2020-09-08 20:28] LMapes commented on #718
@mjabbink @janchild @DianaStanciulescu I am new-ish to the team but I can't figure out the distinction between Disciplines and Practices. If those are internal constructs, they may not make sense to the lay user. I liked the iteration of Design foundations, Design systems and Design Practices (OR Design Disciplines) that Jan had suggested because they reinforce that this is a place where design is

[2020-09-09 05:42] mjabbink commented on #718
@LMapes it was based on how we describe IBM Design In www.ibm.com/design and w3.ibm.com/design. This sites have evolved a bit since we organized the switcher.

[2020-09-09 12:35] DianaStanciulescu commented on #512
Yes, the dropdown&tabs can and should align to the grid. This is the updated mockup, the sketch file is here: https://ibm.box.com/s/yoni7ot52baszyczgouoe7sp5s86xrtu

![App icons library v5](https://user-images.githubusercontent.com/51086727/92596268-3ecbdb00-f2ae-11ea-8beb-6af416ab1518.png)

[2020-09-09 16:24] peter-garvin commented on #512
could also look at dropdown like carbon demos

<img width="1013" alt="Screen Shot 2020-09-09 at 11 23 40 AM" src="https://user-images.githubusercontent.com/47458576/92625991-f5b85e80-f28e-11ea-8c87-c6847f58d884.png">

[2020-09-09 16:27] DianaStanciulescu commented on #512
might be a good idea, especially if we want to add monochrome at some point in the future or other variant

[2020-09-09 22:35] mjabbink commented on #512
Agree

[2020-09-10 12:05] mjabbink commented on #512
:lightningbolt:

[2020-09-10 12:39] mjabbink commented on #512
Looking forward to seeing this page on the glass.

[2020-09-10 14:22] peter-garvin commented on #512
i might recommend trying gray 20 for vertical dividers between dropdowns, and I dont know that you need the labels above here

[2020-09-11 11:28] DianaStanciulescu commented on #512
@peter-garvin agreed; @vpicone sketch file is [here:](https://ibm.box.com/s/6s8ruvg6ej4n7opf8qfq593bcj5o4g2z) , this should be ready to go. please tell me if you need any changes to metadata or design.

<img width="675" alt="Screenshot 2020-09-11 at 14 26 06" src="https://user-images.githubusercontent.com/51086727/92920494-073e6980-f43b-11ea-886e-85ddef6b9fbf.png">

[2020-09-12 00:43] mjabbink opened #725 "[IDL] What’s new —> Animation — In Mobile the animation video should not bleed into right gutter/screen edge."
![Screen Shot 2020-09-11 at 7.41.00 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/4b0d80d3-b01e-4c1a-96d5-a3296c36d705)

FYI @sadekbazaraa  @KSandeep5

[2020-09-13 17:09] mjabbink opened #726 "IDL Homepage cards should NOT link to new tab."
Not sure how or when this happened but the cards on the homepage are now linking out to new tab. Only the Carbon one used to  do that now they all seem to link out to a new tab. We need to undo this ASAP.

@KSandeep5

FYI @sadekbazaraa @kennethhartmann

[2020-09-15 17:05] mjabbink commented on #526
@vpicone @sadekbazaraa This is one of those issues that needs to be checked off the list. Sitting around way too long.

[2020-09-15 18:27] vpicone commented on #526
@mjabbink I think this got lost cause it's in the IDL repo instead of the Carbon one I'll check it out

[2020-09-16 15:25] #578 closed

[2020-09-17 19:09] jnm2377 commented on #714
@vpicone what do you mean exactly? Like the actual link in the Switcher between those two? Or just the visual feel of it should make it apparent that the sites are related... bc I thought that was obvious...

[2020-09-18 04:24] vpicone commented on #714
@jnm2377 more just a general content thing. This was brought up in one of our team meetings but got set aside. I think I'll close it for now.

[2020-09-18 04:25] #714 closed

[2020-09-21 16:06] janchild commented on #718
@jeanservaas As we discussed, could you please mock some of these things up. When @jillianhowarth is back in the office, I'd like for us to run some tests and get some real data to work with.

FYI @shinytoyrobots

[2020-09-21 16:56] simcaleer opened #730 "As a user, I might need to utilize closed captions on the lead video for the Carbon animation page."
## Title line template: [Title]: There are no apparent closed captions for the opening video on the Carbon animation page. There either needs to be closed captions created and included in the video or the Closed Caption button should be clickable on the video player. The video is on this page

https://www.ibm.com/design/language/animation/overview/

-->

## Environment

I am running Catalina on a

[2020-09-21 20:22] LMapes opened #731 "Color package updates for accessibility"
##

Changes here: https://www.ibm.com/design/language/color#the-palette
-->

1. Step one: update color package with new changes to improve accessibility
2. Step two: update color palette to 2.1
3. Step three: push out BComms to WN on BC and IDL plus Slack
4. etc.

## Additional information

- Notes: Issue created as placeholder for this work per @sadekbazaraa

[2020-09-22 19:34] mjabbink commented on #725
![Uploading Screen Shot 2020-09-22 at 2.27.57 PM.png…]()

[2020-09-22 19:49] LMapes opened #734 "Outdated link to Visual Design page"
## Detailed description

## Steps to reproduce the issue

1. Step one
2. Step two
3. Step three
4. etc.

## Additional information

- Screenshots or code
- Notes
<img width="1440" alt="Screen Shot 2020-09-22 at 2 32 07 PM" src="https://user-images.githubusercontent.com/56092796/93930275-b94f1e80-fce2-11ea-8802-0211c9e123e3.png">

[2020-09-22 20:01] #689 closed

[2020-09-23 00:18] mjabbink commented on #643
@conradennis should this close?

[2020-09-23 00:22] #643 closed

[2020-09-24 20:54] LMapes opened #746 "Scrolling Iconography > UI icons and > Pictograms goes to black"
## Detailed description

![Screen Shot 2020-09-24 at 3 44 32 PM](https://user-images.githubusercontent.com/56092796/94199281-2f3bbd00-fe7e-11ea-87e3-a07e18cf2ffa.png)
![Screen Shot 2020-09-24 at 3 36 14 PM](https://user-images.githubusercontent.com/56092796/94199284-31058080-fe7e-11ea-8a10-c9cbbed8dc5f.png)

## Steps to reproduce the issue

1. Step one
2. Step two
3. Step three
4. etc.

## Additio

[2020-09-25 02:54] #512 closed

[2020-09-25 18:16] LMapes opened #749 "404 on App icons > Contribute page"
## Detailed description

https://www.ibm.com/design/language/iconography/app-icons/library

Produces a 404 when clicked.

Clicking onto App icons > Design tab, I can see that the fourth tab there is named 'Production'

This may be the problem. Inconsistent tab names.

<img width="1250" alt="Screen Shot 2020-09-25 at 1 15 06 PM" src="https://user-images.githubusercontent.com/56092796/94302051-37a10

[2020-09-26 18:58] mjabbink commented on #749
I get that message as well but only on occasion. I sometime get the page to load but I have icons missing

<img width="350" alt="Screen Shot 2020-09-26 at 1 53 41 PM" src="https://user-images.githubusercontent.com/32881239/94348270-5b7f4700-0000-11eb-860c-8cff1092ed51.png">
<img width="330" alt="Screen Shot 2020-09-26 at 1 53 54 PM" src="https://user-images.githubusercontent.com/32881239/94348272-

[2020-09-26 19:43] peter-garvin opened #753 "[app icons library] pixelated icons in some browsers"
@vpicone I'm seeing a weird problem with SVGs that im not sure what to make of, wondering if you or someone on the team has any ideas. Looking at app icons library on mobile, all the stroke ones are pixelated (just the color mask, not the white bits). I'm noticing this happens on both safari and chrome in mobile, as well as safari desktop. But they look fine in desktop chrome and firefox. havent t

[2020-09-26 19:47] peter-garvin commented on #753
When I save the SVG images, the files appear fine. I downloaded this one and dropped it in codepen and it works across all browsers ive tried
<img width="1166" alt="Screen Shot 2020-09-26 at 2 44 47 PM" src="https://user-images.githubusercontent.com/47458576/94349089-ec592100-0006-11eb-8d70-d614827331f1.png">
https://codepen.io/petergarvin/pen/xxVByPJ

[2020-09-28 14:40] sadekbazaraa commented on #752
@kennethhartmann I wasn't a part of the original conversations and decisions to make this public. I guess the thinking was because these are pre-approved patterns ready to use that they could be made available?

None of the language says anything about requiring approvals. If that is the case, then we should likely revisit. I'd also question if this is even relevant on this page. Feels like BC mat

[2020-09-28 15:53] mjabbink opened #755 "Typography: Typeface page: Type is off center in both dropdowns"
![Screen Shot 2020-09-28 at 10.50.03 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/27da4fc9-ab78-44ef-b451-6f87345e3df7)

Chrome and Safari

[2020-09-28 15:55] mjabbink commented on #753
Not able to duplicate in Chrome or Safari. May have been while site was updating?

[2020-09-28 15:56] mjabbink commented on #746
@LMapes Not able to duplicate. Can you conform this is still happening for you? May have been while site was updating?

[2020-09-28 16:04] mjabbink opened #756 "Color: Specifications: Tabs height should be taller"
https://www.ibm.com/design/language/color#specifications
.
.
.
Current:
![Screen Shot 2020-09-28 at 10.57.37 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/85cd3055-2d41-4186-a60d-63adfccd52ec)

Expected:
![Screen Shot 2020-09-28 at 11.01.06 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/82b21150-1939-4ef8-9546-86efc5bb0b60)

https://www.ibm.com/design

[2020-09-28 16:04] mjabbink commented on #756
FYI: @sadekbazaraa

[2020-09-28 16:05] mjabbink commented on #749
@LMapes Seems to be resolved. Can you confirm.

[2020-09-28 16:06] peter-garvin commented on #753
@mjabbink im still seeing it on safari, and on mobile browsers

[2020-09-28 16:06] mjabbink commented on #749
This was probably happening during an update.

[2020-09-28 16:08] peter-garvin commented on #753
you may have to zoom or look closely to notice

[2020-09-28 16:28] mjabbink commented on #753
You’re right I see it too.

[2020-09-28 16:43] sadekbazaraa commented on #756
Good 'ol eagle eye @mjabbink! You still got it.

[2020-09-28 16:53] LMapes commented on #746
@mjabbink appears to be resolved. Not sure of the cause, but all set now.

[2020-09-28 16:54] LMapes commented on #749
@mjabbink all set now.

[2020-09-28 16:59] mjabbink commented on #753
FYI @vpicone

[2020-09-28 17:36] #749 closed

[2020-09-28 17:36] #746 closed

[2020-09-28 18:10] LMapes opened #758 "[App icons library] Friendly name updates"
## Detailed description

- copy edit/review of app names for legal trademarks
https://ibm.invisionapp.com/d/main#/console/15367904/319719114/comments

- Screenshots or code
- Notes

[2020-09-28 18:39] LMapes opened #759 "App icons Unassigned approval requests"
Investigate UX possibilities for users interested in a particular Unassigned app icon
- icon that sends them to a request form instead of performing a download?
- grey out the Unassigned icon while approval is underway?
- separate Unassigned icons into separate category in Library tab with text explaining approval icon action?

FYI @kennethhartmann

[2020-09-28 18:45] LMapes commented on #758
@DianaStanciulescu all comments in Invision marked with thumbs up are good to go. Still a few outstanding items that might be resolved by your next day online.

[2020-09-28 19:39] pbenson322 commented on #758
@DianaStanciulescu @LMapes Edits completed on 09.28.20 with the exception of IoT Asset and IoT Business Analytics. Awaiting confirmation on correct naming.

[2020-09-28 22:50] vpicone commented on #753
Just a point of order: on iOS every browser uses the safari rendering engine under the hood.

Not sure what’s causing this, exporting them as 2x pngs would solve it but I’ll try and look at other options.

[2020-09-29 01:30] #725 closed

[2020-09-29 14:57] peter-garvin commented on #753
I wonder why the SVG code would work in safari but not once on the library page

[2020-09-29 15:33] vpicone commented on #753
@peter-garvin it has something to do with constraining the size of it. Were they exported through illustrator to be responsive?

[2020-09-29 16:27] peter-garvin commented on #753
yes they are responsive. im noticing safari also bitmap renders the mask SVG code if zoomed waaay in. This wouldnt be an issue to me since it is rendering at the right resolution. but it seems to be worse with it in the img tag:
[icontest.html.zip](https://github.com/carbon-design-system/design-language-website/files/5300497/icontest.html.zip)

<img width="490" alt="Screen Shot 2020-09-29 at 11 27

[2020-09-29 20:46] vpicone commented on #753
@peter-garvin yeah, it works fine if you just throw the svg code into the page, but it's hard to go from raw svg files to that. They aren't exported particularly well suited for that either with things like style tags.

[2020-09-29 23:08] peter-garvin commented on #753
the style tags is just me hacking it together for a test, I dont believe illustrator exports with style tags

[2020-09-30 03:11] vpicone commented on #753
@peter-garvin it can (and should) be set to export in that way. But here's the bee for example: https://github.com/carbon-design-system/design-language-website/blob/master/static/app-icons/dark-theme/Bee.svg

[2020-09-30 14:33] peter-garvin commented on #753
ah I thought you were talking about the html test. Theyre all exported with illustrator with these settings. But that shouldnt be the cause of the pixelation right? it seems to me the img tag is making things weird. is there anything you suggest?
<img width="768" alt="Screen Shot 2020-09-30 at 9 31 50 AM" src="https://user-images.githubusercontent.com/47458576/94699314-cd58d880-02ff-11eb-9af9-eb2f

[2020-09-30 15:35] rmathur16 opened #762 "DL - 404 from DL to Carbon design site - Link 'Carbon libraries'"
**URL:**
All DL pages  - Left nav - Link '[Carbon libraries](https://www.carbondesignsystem.com/resources/#theme-libraries)' goes to 404 page.

**Describe the bug**
All DL pages  - Left nav - Link '[Carbon libraries](https://www.carbondesignsystem.com/resources/#theme-libraries)' goes to 404 page.

At present 'Carbon libraries' link on left nav goes to
https://www.carbondesignsystem.com/resources/

[2020-09-30 15:38] rmathur16 commented on #762
Hi @kenhartmann just noticed that in All DL pages, on left nav - Link 'Carbon libraries' goes to 404 page.
At present 'Carbon libraries' links to https://www.carbondesignsystem.com/resources/#theme-libraries which is a 404 page

I don’t see any theme libraries page in Carbon unless I’m missing something here.
According to me link’ Carbon libraries’ should just point to https://www.carbondesignsyst

[2020-09-30 16:18] mjabbink commented on #762
The Carbon site rework left nav. Kits are now in Designing https://www.carbondesignsystem.com/designing/kits/sketch

[2020-09-30 19:21] LMapes commented on #758
Edited .yml file and created PR here. https://github.com/carbon-design-system/design-language-website/pull/763

[2020-09-30 21:57] peter-garvin opened #764 "[app icons library] copy change"
in app icons library, IBM Plex section should be "IBM Plex®" including registered trademark symbol. Not sure how to update it myself since it seems its not in markdown

[2020-09-30 22:20] mjabbink opened #765 "Add more spacing between header and image"
The header “Illustration” needs more space underneath.

https://www.ibm.com/design/language/animation/overview/

![Screen Shot 2020-09-30 at 3.04.54 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/25001e5f-3f23-40c1-bea0-e4eb3c136143)

[2020-09-30 22:21] mjabbink commented on #765
FYI @sadekbazaraa @peter-garvin Maybe Pete you can resolve in markdown?

[2020-09-30 22:48] peter-garvin commented on #765
I think this will do it, but lets double check once staging is up

https://github.com/carbon-design-system/design-language-website/pull/766

[2020-10-01 00:48] mjabbink opened #767 "Remove sound icon from browser address field [Safari] — there is no sound on the page"
https://www.ibm.com/design/language/animation/tips-and-techniques/

![Screen Shot 2020-09-30 at 7.38.53 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/fdebcfd0-f4e4-4bd5-9462-d582d9c16e14)

[2020-10-01 00:51] mjabbink commented on #726
This was in the op slot and somehow got moved way down the brand column. This should get addressed as a priority.

[2020-10-01 03:39] mjabbink commented on #762
@rmathur16 @sadekbazaraa If this is something one of our designers can take of we should do so. Maybe Diana or Pete can handle correcting the URLs and creating the PR.

[2020-10-01 13:53] sadekbazaraa commented on #765
Thanks @peter-garvin, looks good on staging. I asked Vince to merge.

[2020-10-01 15:32] sadekbazaraa commented on #726
Noted @mjabbink not sure who moved it but I see it's back up top now.

Also, I've confirmed with the dotcom team that the general best practice they use is that pages within the same site open in the same tab and external pages open in a new tab. I think this is the practice we should be using across the board including all of our Gatsby sites.

[2020-10-02 17:45] #765 closed

[2020-10-02 21:29] mjabbink commented on #753
Seems to be resolved? Looking good to me now.

[2020-10-05 01:44] peter-garvin commented on #753
I'm still seeing it pixelated, dont believe anything has changed

cant for the life of me figure out why the SVG looks good in safari until you put it within an img tag

[2020-10-05 16:06] rmathur16 commented on #762
@DianaStanciulescu can you please take look at this one. Thanks.

[2020-10-05 16:50] DianaStanciulescu commented on #762
PR: https://github.com/carbon-design-system/design-language-website/pull/774

[2020-10-05 18:10] #755 closed

[2020-10-05 21:58] sadekbazaraa opened #776 "[IDL] Color: Update Magenta 60 and Warm Gray 60 in Specifications"
We have a new v2.1 color palette. The color package on GitHub has already been updated as well as the resources on the Color page. We're are working on announcements to go out and need to update the values here first: https://www.ibm.com/design/language/color#specifications

In the attached image are the revised HEX and RGB values that need to be updated.

![color_updates_v2.1.png](https://images.

[2020-10-06 10:36] DianaStanciulescu commented on #762
fixed & live, closing issue.

[2020-10-06 10:36] #762 closed

[2020-10-06 14:34] vpicone commented on #753
@peter-garvin its some arcane safari bug, I’m stuck as well. My plan is to see if Big Sur fixes it and if not, figure out a rendering strategy that doesn’t rely on img element s

[2020-10-06 16:06] vpicone commented on #758
@

[2020-10-06 16:06] #758 closed

[2020-10-06 16:08] vpicone commented on #731
is this a duplicate of https://app.zenhub.com/workspaces/auxiliary-squad-5deea70733c75ceaf1bfacae/issues/carbon-design-system/gatsby-theme-carbon/1018

?

[2020-10-06 16:17] LMapes commented on #731
@sadekbazaraa Did you need this issue to make the color palette changes on site?

[2020-10-06 16:34] LMapes commented on #731
@vpicone I think the work that needs to be done on this is covered in this issue: https://github.ibm.com/brand/design-language/issues/192

[2020-10-06 17:14] sadekbazaraa commented on #731
@vpicone 192 covers the updates regarding the Color page itself. Additional issues that Lori is tracking are on the updates to the What's New page so we can make an announcement.

[2020-10-06 18:12] #731 closed

[2020-10-06 18:12] #756 closed

[2020-10-06 18:12] #776 closed

[2020-10-07 15:07] LMapes opened #777 "[app icon library] Remove unapproved icons"
## Detailed description

Remove these unapproved icons from App icons library page. This is a legal issue.

- Community health coach
- Community health member
- Project: Speak Play Win
- Doc Buddy
- IBM TouchToken
- IBM Ecosystem Italia
- IBM Maintall
- IBM Study Connect
- IBM Verify Credentials
- IBM Maximo Assist
- IBM Blockchain Trusted Identity
- IBM OpenLabs
- IBM Download Director
- IBM Maas

[2020-10-07 18:42] LMapes commented on #777
In addition to removing the app icons named above, please change the IBM Plex header to read:
IBM Plex® app icons

[2020-10-07 20:29] sadekbazaraa opened #786 "[IDL] 2x Grid: Illustrator file under resource card for "2x Grid for video" not downloading"
Download link doesn't seem to work in Safari:
https://www.ibm.com/design/language/2x-grid#2x-grid-for-video

[2020-10-08 07:54] mjabbink opened #781 "Dropdown should be taller in [mobile]"
The dropdown above in Subfamilies should be taller like dropdowns below it on the page or in icon library

https://www.ibm.com/design/language/typography/typeface/#subfamilies

FYI @sadekbazaraa

[2020-10-08 08:01] mjabbink commented on #781
<img width="411" alt="Screen Shot 2020-10-08 at 3 00 34 AM" src="https://user-images.githubusercontent.com/32881239/95431257-83c94880-0912-11eb-89b5-87ac709ac086.png">

[2020-10-08 13:25] DianaStanciulescu opened #782 "[IDL] illustration pages - add kits"
Add back in the resource cards with direct downloads links to the illustration design kits.

Sketch file: https://ibm.box.com/s/sywkremt3h2qcf342e73fb4og79myk4n
Invision: https://ibm.invisionapp.com/share/VNO0K3MF7RZ

BSXD board corresponding issue: https://github.ibm.com/brand/design-language/issues/190

Starter kits AI files: WIP

[2020-10-08 13:26] DianaStanciulescu commented on #782
@LMapes please take a second look at the copy before this can go to dev. thanks!

@sadekbazaraa  FYI

[2020-10-08 17:06] sadekbazaraa commented on #730
@mjabbink it is possible for Vimeo to incorporate CC, but we'd need to create and then upload supporting files with all of the CC information in order for the player to read and display the content automatically. This would be a bit of a project in and of itself for all of the videos living across any of our sites.

From what I gather, most of the IBM Design organization uses Vimeo to host videos.

[2020-10-08 17:45] LMapes commented on #782
@DianaStanciulescu These look good to me!

[2020-10-08 20:26] LMapes commented on #777
@mjabbink Hi Mike, these app icons are not legally approved for public use and need to be removed from the library. The approvals might be held up by NDAs, or test runs, or other internal reasons. This list has been vetted by Lizet and these should be removed as soon as possible. Can you help expedite? I don't know the rules of working with the AUX squad. Thanks!

[2020-10-08 21:14] LMapes commented on #764
@peter-garvin The registered trademark IBM Plex® must be followed by a noun. Suggest 'IBM Plex® app icons'

[2020-10-09 04:57] vpicone commented on #777
@LMapes
I can't find IBM Study Connect, did you mean IBM Study Advance?

Same with Maximo Assist, did you mean Maximo Voice Assistant?

[2020-10-09 05:13] #726 closed

[2020-10-09 05:36] vpicone commented on #721
@sadekbazaraa did we complete this?

[2020-10-09 05:43] #786 closed

[2020-10-09 05:49] vpicone commented on #703
@sadekbazaraa I feel like this has been a few days away for a month now. Should we just remove the tutorial based around this kit?

[2020-10-09 06:24] #781 closed

[2020-10-09 06:25] #717 closed

[2020-10-09 12:05] LMapes commented on #777
If you don't find the exact name on the live page, ignore the entry on my list. Thanks Vince!

[2020-10-09 13:51] LMapes commented on #777
@vpicone What is on the page as IBM Maximo Augumented Collaboration needs to be removed. It was known as Maximo Assist when it began life. It is not approved for use.

[2020-10-09 13:51] vpicone commented on #777
@LMapes What about Study Connect?

[2020-10-09 14:52] #777 closed

[2020-10-09 15:23] mjabbink opened #790 "Philosophy > Point of view: Add more space under “Philosophy” video"
The typography (including caption/aside) are too close to the feature video. @sadekbazaraa can provide the spacing spec for this situation.

https://www.ibm.com/design/language/philosophy/pov

![Screen Shot 2020-10-09 at 10.20.49 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/82b0018b-aa01-4cde-8a1a-3ff8dbef67ed)

[2020-10-09 15:31] vpicone commented on #501
This will be resolved once Carbon fixes it upstream https://app.zenhub.com/workspace/o/carbon-design-system/carbon/issues/5824

[2020-10-09 15:31] #501 closed

[2020-10-09 15:31] #721 closed

[2020-10-09 15:40] sstrubberg commented on #535
Are you saying you want all this to be g10?

![image](https://user-images.githubusercontent.com/15822070/95603385-d04c7b00-0a1b-11eb-990f-813a51d3d7a7.png)

[2020-10-09 20:04] vpicone commented on #584
Closed by https://github.ibm.com/brand/plex/pull/66

[2020-10-09 20:04] #584 closed

[2020-10-10 05:06] vpicone commented on #790
Blocked waiting for spec from @sadekbazaraa

[2020-10-10 05:14] vpicone commented on #767
@mjabbink Is this still happening? I'm not able to replicate it.

[2020-10-10 05:15] vpicone commented on #734
Unfortunately, this is controlled by Google, there's no way for us to customize it. We would need to shut down the old v1 site.

[2020-10-10 05:15] #734 closed

[2020-10-10 05:21] vpicone commented on #638
This looks to be resolved, 32px horizontal and vertical gutters for these images on desktop and mobile.

[2020-10-10 05:21] #638 closed

[2020-10-12 10:07] DianaStanciulescu commented on #759
Some thoughts:
Unassigned icons are used in 2 situations:
1. A product team sees an unassigned icon they want to use for their app, they request to use it. The approval should be pretty straightforward and quick.
2. A designer suggests one ore more of the unassigned icons to a product team, as well as maybe new designs; until the end of the process, nobody knows which icon will be chosen.

For sit

[2020-10-12 12:20] DianaStanciulescu commented on #718
Hello! I am not sure if there has been progress on the topic in the meantime, but looking back at the conversation above I repeated here Jan's and Mike's latest suggestions for the switcher, and made 2 other variations on the topic.

In the TOC part, I think we can replace the first image with the carbon icon and lead people to the carbon page; this change can be implemented now if you all agree.

[2020-10-12 12:51] mjabbink commented on #759
Or, we remove the unassigned from the library. We can utilize these in the design process as always and suggest these even if a team has design proposals.

[2020-10-12 12:58] DianaStanciulescu commented on #759
That can work if we make a separate repo with these so we know where to take them from; I was worried the fill and plex categories will suffer since they have fewer icons but it can still work

[2020-10-12 14:16] vpicone commented on #767
Gonna close this for now since I think it was resolved when we added auto play/mute to the page.

[2020-10-12 14:20] LMapes commented on #718
@janchild @mjabbink @DianaStanciulescu It seems odd to me to bifurcate Carbon in the nav. If one is for general Carbon and one is for Product, does it make sense to add 'Product' under 'Carbon' in Jan's latest nav that Diana has in the png above? That's short and clean.

[2020-10-12 14:26] mjabbink commented on #718
@LMapes Those switcher images are not correct so disregard those.

[2020-10-12 14:31] mjabbink commented on #718
Might be more this but still WIP.

<img width="733" alt="Screen Shot 2020-10-12 at 9 30 36 AM" src="https://user-images.githubusercontent.com/32881239/95758125-a5f1fc00-0c6d-11eb-83de-dcb56578937a.png">

[2020-10-12 14:32] mjabbink commented on #767
This still exists.

[2020-10-12 14:33] mjabbink commented on #767
see Safari desktop @vpicone

[2020-10-12 14:36] DianaStanciulescu commented on #718
@mjabbink @LMapes  sorry to have caused confusion, just wanted to revive the conversation. this latest structure makes super sense to me, with the IBM Design site under community and carbon for ibm.com now looking as a subset of the big carbon system.  "Implementation" is also nice since all are systems, so design systems was a bit confusing.

so apart from the IDL TOC, let me know if there is any

[2020-10-12 14:55] LMapes commented on #718
@mjabbink Liking this version Mike, a lot. I heard someone say the IDL is the WHAT, Carbon is the HOW.

[2020-10-12 14:58] sadekbazaraa commented on #786
@vpicone just so I understand more specifically. I made this issue in the carbon/idl repo.. when you say you'll transfer over to IDL, what do you mean? I thought I made in IDL from the onset.

[2020-10-12 17:16] vpicone commented on #786
@sadekbazaraa it was originally in the gatsby theme:
<img width="734" alt="Screen Shot 2020-10-12 at 12 14 40 PM" src="https://user-images.githubusercontent.com/4078018/95773665-8adeb680-0c84-11eb-963c-ee6adf001aed.png">

It's no problem really, just wanted to make sure we weren't going down the "just throw everything in the Gatsby theme repo" route (it seems that wasn't the intent).

[2020-10-12 17:33] sadekbazaraa commented on #703
@vpicone @DianaStanciulescu has created a new issue for this. We are working on the finishing touches to the kit and have added some copy and updated the Resource cards a bit. I think we can likely close this issue now that there is a new and more complete one.

[2020-10-12 17:34] sadekbazaraa commented on #786
@vpicone ah, got it! That was my bad then. It makes sense to be in IDL for sure.

[2020-10-12 19:28] #703 closed

[2020-10-12 19:39] sadekbazaraa commented on #790
@vpicone it should be a healthier space, more like any of the pages where we have a hero video at the top, 80px above and 80px below. For example, https://www.ibm.com/design/language/2x-grid

![Screen Shot 2020-10-12 at 3 38 18 PM](https://user-images.githubusercontent.com/33162280/95784077-25e58980-0ca1-11eb-8949-c2b9065b2761.png)

[2020-10-12 20:50] mjabbink commented on #790
So Sadek are we set at 80px recommendation?

[2020-10-12 20:58] sadekbazaraa commented on #790
Yessir @mjabbink 80px it is.

[2020-10-13 03:35] raven-wills opened #795 "Sass files using rem(*px) where it isn't imported"
![Screen Shot 2020-10-12 at 10 33 39 PM](https://user-images.githubusercontent.com/35464374/95812443-08cdac80-0cdb-11eb-96b1-baff9f39fecb.png)

I think this is happening for all the stylesheets in `src/styles/` as discovered from issue: https://github.com/carbon-design-system/design-language-website/pull/794

[2020-10-13 14:46] mariuszmickiewicz opened #796 "[app icons] App icon incorrectly marked as "unassigned""
https://www.ibm.com/design/language/iconography/app-icons/library/

This icon (see the image below - I believe it is named **091** in the library file) is marked as _unassigned_ but it belongs to one of our apps and it should be named:
**IBM Enterprise Video Streaming**

<img width="324" alt="image" src="https://user-images.githubusercontent.com/12408951/95876070-f99a3d80-0d72-11eb-8960-ec15a7f374

[2020-10-13 15:16] #753 closed

[2020-10-13 16:09] sjarva commented on #795
I could start working on this! ⌨️ 👩‍💻

[2020-10-13 16:53] sjarva commented on #795
Started doing more research on this issue, as the description is not very clear.

I found out that this is not affecting only the components in `src/styles` but also in `src/components` (or at least HomepageVideo component's styles are also affected):

<img width="1104" alt="HomepageVideo component styles affect by ren(px) bug" src="https://user-images.githubusercontent.com/1133238/95891226-776b42

[2020-10-13 17:09] #790 closed

[2020-10-13 17:49] sjarva commented on #795
Okay, did more digging 😄

There isn't a local Sass mixin that is called `rem()` in this project.

The syntax `rem(<pixel value>)` seems to be a feature of (at least) the [`sass-rem` package](https://www.npmjs.com/package/sass-rem), but this package hasn't been included in this project dependencies ever (and therefore hasn't been accidentally removed at some point). The first person to use the `rem

[2020-10-13 21:23] peter-garvin opened #799 "[app icons] several broken icons"
@vpicone  looks like some icons got messed up with the conversion
<img width="296" alt="Screen Shot 2020-10-13 at 3 34 29 PM" src="https://user-images.githubusercontent.com/47458576/95917590-1c772280-0d70-11eb-8381-e48f182bdc22.png">
<img width="299" alt="Screen Shot 2020-10-13 at 3 35 21 PM" src="https://user-images.githubusercontent.com/47458576/95917597-1da84f80-0d70-11eb-9fbb-a7f682a9b777.png"

[2020-10-13 21:23] peter-garvin commented on #799
@vpicone moving forward, how can I update icons to the page myself?

[2020-10-14 04:23] vpicone commented on #799
Sweet, I'll swap those icons out and try to add some docs on for adding/removing/deprecating going forward.

Do you have a chunk of metadata for the new icon?

[2020-10-14 04:31] vince commented on #799
Gotta block you all. I've mentioned it multiple times but you keep mentioning the wrong Vince. Have a nice day.

[2020-10-14 14:41] peter-garvin commented on #799
132 was in the metadata originally but was removed because it was PNG. Do you have that metadata doc? if not I can track it down

[2020-10-14 15:21] LMapes commented on #759
@mjabbink @DianaStanciulescu @peter-garvin
After an exchange in ibm-brand yesterday where someone saw an Unassigned icon they wanted for their product, what do you think of the possibility of adding an arrow —> icon (instead of download as we do for Pictos) that pops up a tooltip saying 'Claim this icon'.

It could pop them over to a paragraph describing process on the Production page, or go direc

[2020-10-14 15:51] vpicone commented on #799
@peter-garvin ah that’s right, no I can find it thanks!

[2020-10-16 15:03] #795 closed

[2020-10-22 13:52] vpicone commented on #764
@LMapes then would all of the other sections would need that noun too? Seems like people would see it as a mistake to declare one section app icons and not the others.

[2020-10-22 13:53] vpicone commented on #764
This gets back at my issue with the section in the first place the other two categories are art styles, the Plex one should just be “typographic” or something.

[2020-10-22 14:04] LMapes commented on #764
I would like to put Stroke style icons, Fill style icons, IBM Plex® style icons

[2020-10-22 14:06] LMapes commented on #764
I would like to put Stroke app icons, Fill app icons, and IBM Plex® app icons

Final answer!

[2020-10-23 21:17] mjabbink commented on #764
@LMapes @vpicone Personally I think it’s fine as is. In this case adding the literal names seems unnecessary when it says “All app icons” as the default choice. Using Stroke, Fill, IBM Plex seems pretty clear.

As is:

All app icons
Stroke
Fill
IBM Plex

Suggested:

All app icons
Stroke app icons
Fill app icons
IBM Plex app icons

I prefer the as is.

[2020-10-26 13:47] LMapes commented on #764
@mjabbink The IBM Plex® typeface takes the registered trademark and must be followed by a noun in order to protect the trademark. It's not a matter of preference. One other alternative is shown below.

All app icons
Stroke style
Fill style
IBM Plex® style

[2020-10-26 14:31] mjabbink commented on #764
@LMapes There does not need to be a noun after the name IBM Plex with or without the registration mark.

That said I don’t mind the “style” added

[2020-10-26 14:41] mjabbink opened #809 "App icons library page: Add ® to the name IBM Plex header"
Header should be  IBM Plex® (legal protection)
https://www.ibm.com/design/language/iconography/app-icons/library/

[2020-10-26 14:46] mjabbink commented on #764
I’ve added an issue to add ® mark in the header for IBM Plex®
https://github.com/carbon-design-system/design-language-website/issues/809

[2020-10-26 16:04] pbenson322 commented on #764
@mjabbink Hi Mike. Thought I'd chime in here about adding a noun after IBM Plex® and why Lori is requesting one be added. The IBM legal department not only requires that we follow IBM Plex with a register mark on the first mention in text or in the headline if that's the only mention, but requires us to follow any IBM trademarked product name with a descriptive noun in EVERY MENTION to further pro

[2020-10-26 16:18] mjabbink commented on #764
I’ll repeat you do not need that noun after the name. That description does not apply to this situation.

[2020-10-26 16:20] mjabbink commented on #764
And as I said I like the “style” coming after but it has nothing to do with the reasons you state. Based on that description all logotypes and names would have a noun after it which is absolutely not the case. It’s not needed!

[2020-10-26 16:27] mjabbink commented on #764
You are reading that recommendation and wanting to apply it where it does not need to be applied. It would be totally fine as IBM Plex®

[2020-10-26 16:27] LMapes commented on #764
So, to fix the headlines on this app icons library page, can we agree to go with:

Stroke style
Fill style
IBM Plex® style

[2020-10-26 16:47] mjabbink commented on #764
yes.

[2020-10-26 17:43] LMapes commented on #764
@vpicone Thank you for your patience. Please make each of the headings on this page:
Stroke style
Fill style
IBM Plex® style

[2020-10-26 23:26] vpicone commented on #809
Is this a duplicate of #764?

[2020-10-26 23:59] mjabbink commented on #809
This is for the header down the page. The other is about the naming in the dropdown

[2020-10-27 01:07] #764 closed

[2020-10-27 01:07] #809 closed

[2020-10-28 00:38] mjabbink opened #812 "sticky tabs cropping a bit on color page"
The sticky tabs on “Color specifications” crop a touch under the header bar.
https://www.ibm.com/design/language/color#specifications

![ezgif.com-gif-maker.gif](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/e0fbf52a-7723-44bf-87e9-e585dfc622b2)

[2020-10-28 00:38] mjabbink commented on #812
FYI @sadekbazaraa

[2020-10-29 15:36] rmathur16 opened #813 "Check analytics tags within IDL pages - Big drop in no. of visits"
## Detailed description

There is a big drop in number of visits on IDL pages when compared from last month.

Please check if analytics tags within IDL pages are not accidentally removed. Thanks.

## Additional information

- Attached is the screenshot of 96% drop in Sep when compared to month of Aug.
![IDL-monthly-analytics-report.png](https://images.zenhubusercontent.com/5ae8a3724b5806bc2bd159f8

[2020-11-08 21:58] vpicone commented on #813
@rmathur16 we removed the analytics script so that we could stop remove that awful cookie notification.

We switched to a service that respects users privacy and doesn't require cookie popups. You can view the report here: https://app.usefathom.com/share/hlfjurxw/design-language

[2020-11-10 14:40] kennethhartmann commented on #813
Hi @vpicone,

We may want to move off of our current Analytics plan across all of our sites.
Is Fathom an IBM approved tool?
Also, if IBM approved, who is the account owner paying for costs?

[2020-11-11 00:22] vpicone commented on #813
@kennethhartmann I’m not sure about either of those; maybe @mattrosno would know? I know we’re on the hosted plan a d We’re delighted with it. It is open-source, so you could also run it on your own in the IBM cloud.

[2020-11-12 18:08] mjabbink opened #818 "Update pictogram library"
The Carbon site has released the latest pictograms and their new percentage adjustment and the same needs happen for IDL pictogram library page.

[2020-11-12 18:09] mjabbink commented on #818
@vpicone We basically want the new one to appear to be the same scale they currently are.

[2020-11-12 18:09] mjabbink commented on #818
and of course this applies to Carbon site as well.

[2020-11-16 19:31] rmathur16 opened #821 "IDL Home page - 'Gallery' and 'Photography' links are broken"
## Detailed description

Onclick of both 'Gallery' and 'Photography' cards throws an error page.

Onclick of 'Gallery' card should go to https://www.ibm.com/design/language/gallery
Onclick of 'Photography' should go to https://www.ibm.com/design/language/photography/overview

Firefox

## Additional information
The above links (Gallery & Photography) should open in the same tab as of Design Languag

[2020-11-19 00:27] mjabbink commented on #818
@alisonjoseph Once the new pictograms package is ready for the library we need to get Aux to adjust this percentage to keep them roughly the same size as they are now. Not sure when that day will ever come but I’ve prepared this issue for that celebratory day!

[2020-11-20 00:05] kennethhartmann commented on #813
Hi @vpicone

Is there any code on IBM Design Language that sets cookies on any page? Regardless, we are on ibm.com domain and IBM uses cookies throughout its site so we can’t tell users “hey you have to go to some other page if you change your mind about us using cookies for your visit."

Please revert back to the cookie notification and/or follow the IBM.com footer cookie preferences–thank you! I

[2020-11-23 19:48] rmathur16 opened #824 "Add play/pause button to looping animations"
## Detailed description

General issue

 Based on accessibility best practices for any moving, blinking or scrolling information that (1) starts automatically, (2) lasts more than five seconds, and (3) is presented in parallel with other content, there is a mechanism for the user to play/pause the animation.

Below is the invision link where I've highlighted (in red border) the looping animations

[2020-11-24 02:29] mjabbink commented on #818
@alisonjoseph Assuming if the Carbon site is updated IDL will be as well?

[2020-11-24 02:38] mjabbink opened #905 "far right column tool tips in pictograms and icons need to be end tooltips — open towards left."
![Screen Shot 2020-11-23 at 8.35.00 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/ae5d928b-b6bf-4cd8-8ce1-98c4491223b5)

![Screen Shot 2020-11-23 at 8.34.15 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/7f3f8032-b70e-454d-ba7d-366190dcef38)

IDL
https://www.ibm.com/design/language/iconography/ui-icons/library
https://www.ibm.com/design/language/icono

[2020-12-01 14:20] sadekbazaraa commented on #767
@mjabbink @vpicone I wonder if this is a Safari browser bug that has been fixed by any chance? My Safari seems to be working as intended. When a video with audio is playing, the icon is there, as soon as I pause the video, the icon goes away. Are you still seeing it

[2020-12-01 15:45] sadekbazaraa commented on #813
Here's an example of Fathom in use
https://app.usefathom.com/share/hlfjurxw/design-language

@rmathur16 can you please set up a 30 minute meeting with you @kennethhartmann @mjabbink @vpicone and myself to discuss the most suitable analytics approach for our design ecosystem sites.

[2020-12-01 16:44] kennethhartmann commented on #813
Hi @alisonjoseph

Would you please share a status update on this issue i.e. in which sprint it will be addressed–thank you!

[2020-12-01 20:43] mjabbink commented on #818
the scaling has been figured out by System team for carbon site library and preview here :https://carbondesignsystem-git-release-v10250-rc1.carbon-design-system.vercel.app/guidelines/pictograms/library

[2020-12-01 20:43] mjabbink commented on #818
just needs to go live now and also updates applied to IDL site

[2020-12-03 15:41] SimonaTimofeiMarin opened #826 "[IDL] Update image in Color page"
Update image in Color page in the section "Color in action".

[2020-12-03 16:24] SimonaTimofeiMarin commented on #826
Hi!
The screenshot below is with the existing image and needs to be replaced with the second one.
A box link for the updated image:
https://ibm.box.com/s/iez0bg7bhx5ogvc17ov15vi72dhwo48u
Thank you!

<img width="646" alt="Screen Shot 2020-12-03 Color in action" src="https://user-images.githubusercontent.com/66475221/101056873-1b09ef80-3594-11eb-8a66-48a803a4ba12.png">

![IBM_D_ Posters_All _R05-Col

[2020-12-03 16:29] SimonaTimofeiMarin opened #827 "[IDL] Update image in Gallery page"
https://www.ibm.com/design/language/gallery

[2020-12-03 16:35] SimonaTimofeiMarin commented on #827
Hi!
The screenshot below is with the existing image and needs to be replaced with the second one.
A box link for the updated image:
https://ibm.box.com/s/6bgqyiwec12jxm89kbjcelxprdz0acr8
Thank you!
<img width="922" alt="Screen Shot 2020-12-03 at 6 26 44 PM" src="https://user-images.githubusercontent.com/66475221/101058295-a932a580-3595-11eb-8ebc-7edd184c3a10.png">
![IBM_D_ Posters_All _R05-IDL gal

[2020-12-03 18:53] peter-garvin opened #830 "[pictograms/usage] page fixes"
@conradennis

Noticed some things on the pictograms page as I was working on app icons guidance

(pictograms page on left, proposed app icon guidance on right) Here I think the order would make more sense to show the icons without containers first, and I noticed the clearance on some images is half gray 10, but one has all blue clearance
<img width="1178" alt="Screen Shot 2020-12-03 at 12 50 34 PM

[2020-12-03 19:05] conradennis commented on #830
@peter-garvin good catch, thanks for the heads up. I'll make these changes and link the PR here when i'm done.

[2020-12-03 20:37] conradennis commented on #830
PR is here: https://github.com/carbon-design-system/design-language-website/pull/831

[2020-12-04 15:48] rmathur16 commented on #813
@vpicone @kennethhartmann @sadekbazaraa @mjabbink @alisonjoseph
Based on our meeting (12/4) here's the call summary and next steps:
1. Add IBM cookie requirements back to IDL on 12/4 / Vince
2. Investigate IBM.com cookie requirements / Vince & Rohit
3. Continue to work with Andreea and team to design and deploy new Cookie modal / Sadek
4. Remove Fathom from any IBM Brand websites and start IBM App

[2020-12-04 18:21] #813 closed

[2020-12-04 18:42] vpicone commented on #813
@rmathur16 @kennethhartmann steps one and four have been resolved, please open separate issues for #2 and #3 if necessary. I'm not clear on what my "investigation" action items are for step 2.

[2020-12-08 02:28] vpicone commented on #818
Resolved

[2020-12-08 02:28] #818 closed

[2020-12-08 05:31] #821 closed

[2020-12-08 15:06] vpicone commented on #796
@peter-garvin @DianaStanciulescu who's in the go-to for tracking and updating which icons are in use?

[2020-12-08 15:32] peter-garvin commented on #796
That'd be me, I can take it out of the master. I thought there was one video streaming app and the other ideas for it were ok to use

@mariuszmickiewicz so we have IBM enterprise video streaming and IBM video streaming?

[2020-12-08 15:44] #438 closed

[2020-12-08 15:45] sadekbazaraa commented on #767
@mjabbink did you have any luck after updating Safari?

[2020-12-08 16:00] mariuszmickiewicz commented on #796
@peter-garvin
Yes, there are
* **[IBM Video Streaming](https://github.ibm.com/brand/App-icons/issues/76)** (circular "record" icon - for broadcasting) app and
* **IBM Enterprise Video Streaming** (triangle, blue - for watching videos). It used to be [IBM Cloud Video for Enterprise](https://github.ibm.com/brand/App-icons/issues/19) (or Video Portal).
The latter one needs a name to be assigned to it

[2020-12-08 16:04] vpicone opened #837 "Investigate using Adobe Stock for gallery source"
Adobe allows you to access photos through an [API](https://www.adobe.io/apis/creativecloud/stock/docs.html). This could be a great chance to explore using Adobe stock as a CDN and iterate on using masonry layouts to render dynamic content.

[2020-12-09 16:01] mjabbink opened #839 "type tester needs to be white"
https://www.ibm.com/design/language/typography/typeface/#type-tester

[2020-12-09 16:03] mjabbink commented on #839
@vpicone Not sure what happened here since it’s been fine for a long time and no issue regarding this until now. May have defaulted back to an old issue? or swamp gas?

[2020-12-09 17:36] mjabbink opened #840 "Content/code snippet in list should go to the right margin"
![Screen Shot 2020-12-09 at 11.35.51 AM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/884a8715-45cf-4640-b473-1837bad4b623)

[2020-12-09 17:41] mjabbink commented on #840
![Uploading Screen Shot 2020-12-09 at 11.40.48 AM.png…]()

[2020-12-09 17:41] #840 closed

[2020-12-10 01:35] mjabbink commented on #767
Sorry, still need to do it.

[2020-12-11 15:58] mjabbink commented on #799
@vpicone Also high priority. This was created Oct 13.

[2020-12-11 21:32] mjabbink opened #841 "fix: feedback and back to top button mobile spacing"
This same issue needs to be applied to IDL
https://github.com/carbon-design-system/gatsby-theme-carbon/pull/1052

original issue
https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1024

[2020-12-15 15:39] vpicone commented on #841
This will be updated today when IDL updates automatically

[2020-12-15 15:39] #841 closed

[2020-12-15 15:41] vpicone commented on #796
@mariusmickiewicz So what do we need to do here?

[2020-12-15 15:44] vpicone commented on #799
@mjabbink can you clarify what's broken here?

[2020-12-15 15:47] mariuszmickiewicz commented on #796
@vpicone
Please change the name of this icon from **Unassigned** to **IBM Enterprise Video Streaming**

<img width="585" alt="image" src="https://user-images.githubusercontent.com/12408951/102237525-0f53ec80-3ef5-11eb-9607-0906e64503cc.png">

[2020-12-15 15:51] peter-garvin commented on #799
Some icons aren't displaying properly. The zip above has re-exported icons to replace

[2020-12-15 16:12] mjabbink commented on #799
@vpicone for example the above “IBM Mobile Capture” is missing a line.

[2020-12-15 19:26] mjabbink commented on #782
exciting!

[2020-12-15 23:03] silviohajdin opened #844 "[IDL] Update example image on the Pictograms page"
## Detailed description

The example image at https://www.ibm.com/design/language/iconography/pictograms/usage#pictograms-in-action also shown below
![image](https://user-images.githubusercontent.com/60953902/102282610-dae52e00-3efe-11eb-9a0b-e613f7afd6eb.png)

should be replaced by the updated one below - thanks!

![18_In-Context_1b](https://user-images.githubusercontent.com/60953902/102283034-99

[2020-12-19 18:24] mjabbink commented on #812
Issue moved to [carbon-design-system/gatsby-theme-carbon #1078](https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1078) via [**ZenHub**](https://www.zenhub.com/)

[2020-12-19 18:24] #812 closed

[2020-12-22 00:11] mjabbink commented on #839
Needs to get resolved week one we are back please. Thank you.

[2020-12-22 00:30] mjabbink commented on #839
The whole pink area and components

<img width="1215" alt="Screen Shot 2020-12-21 at 6 29 33 PM" src="https://user-images.githubusercontent.com/32881239/102834753-905e2880-43ba-11eb-97e1-4c8d39926591.png">

[2020-12-22 00:32] mjabbink commented on #839
Also effecting this page

https://www.ibm.com/design/language/typography/type-specs-ui#scales

https://www.ibm.com/design/language/typography/type-specs-ui#type-set

[2020-12-22 11:43] mjabbink commented on #839
The white boxes above the gray bars needs to be gray10 so it blends into the background
<img width="1227" alt="Screen Shot 2020-12-22 at 5 41 36 AM" src="https://user-images.githubusercontent.com/32881239/102885105-76533300-4418-11eb-9f4f-e6b8128d91b6.png">
<img width="572" alt="Screen Shot 2020-12-22 at 5 41 23 AM" src="https://user-images.githubusercontent.com/32881239/102885108-76ebc980-4418-11

[2020-12-29 18:57] jeanservaas opened #849 "Regression[attached code snippet/type tester component]: White background missing"
I'm not sure when this happened, but the white background is missing from certain visual code examples across the Gatsby theme:

https://www.ibm.com/design/language/typography/type-specs-ui

![image](https://user-images.githubusercontent.com/43144260/103307113-ee02fe00-49d4-11eb-9214-10f82194feeb.png)

https://www.ibm.com/design/language/typography/typeface
![image](https://user-images.githubuserc

[2021-01-06 15:14] #839 closed

[2021-01-06 15:14] #849 closed

[2021-01-12 08:03] SimonaTimofeiMarin commented on #826
Hi @jnm2377
An updated Box link for the image. The previous one expired.
https://ibm.box.com/s/4040wlkrpgv6jsduihsp5f4pi6mlvcje
Thank you!

[2021-01-12 15:15] vpicone commented on #830
closed via https://github.com/carbon-design-system/design-language-website/pull/831

[2021-01-12 15:16] #830 closed

[2021-01-14 15:11] #799 closed

[2021-01-26 19:52] #826 closed

[2021-01-26 19:52] #827 closed

[2021-01-26 19:52] #844 closed

[2021-01-27 19:43] eraymond25 opened #865 "[app icons] change "IBM Cloud Project Coligo" To "IBM Cloud Code Engine""
## Detailed description

On the [app icons library page](https://www.ibm.com/design/language/iconography/app-icons/library/) "IBM Cloud Project Coligo" should be changed to "IBM Cloud Code Engine". Coligo was the codename for it, but now it's real name is Code Engine
cc @peter-garvin in case you want to update this in your box folders too

## Additional information

<img width="280" alt="Screen Sh

[2021-01-27 20:12] peter-garvin commented on #865
we're aware of this one, it will be resolved by https://github.com/carbon-design-system/design-language-website/pull/848 and https://github.ibm.com/brand/App-icons/issues/256

[2021-02-01 21:27] mjabbink commented on #752
@sadekbazaraa @kennethhartmann What is the story on this issue? Should we close?

[2021-02-01 23:29] sadekbazaraa commented on #752
@kennethhartmann I'm seeing 3 options.

1. Leave as is if there's no legal issue with the patterns.
2. Remove Patterns section from IDL page and include on the BC page where we talk about the Rebus.
3. Leave as is on IDL, but just place the asset behind a gate on Box and add "(IBMid required)" to the resource card.

[2021-02-02 11:29] mjabbink opened #867 "remove cookies button and move to footer"
Remove the cookies button anchored at the bottom of the page and move “Cookie preferences” like https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/ and www.ibm.com

FYI @sadekbazaraa @jeanservaas the cookies button is so bad I can’t take it. I recommend we follow IBM dot com and Carbon for IBM dot com. They also apply it in the footer for Europe. We probably need a spec or a visual for Aux or

[2021-02-02 14:07] sadekbazaraa commented on #867
I hear you @mjabbink such a nuisance!

I believe @rmathur16 was also looking into this... does the button only appear in the corner briefly or until you've accepted and then it goes away? We were talking about the need to add to the footer like .com because it disappears at some point and needs to always be available. I may be confused about that... either way, I'm completely on board to get rid o

[2021-02-02 14:12] mjabbink commented on #867
Hidy hoooo!

[2021-02-03 21:27] rmathur16 commented on #867
@mjabbink @sadekbazaraa
I’ve been trying to chase down some of the folks on this but without any luck for now.
This is something similar I and Pavol was discussing on https://github.ibm.com/brand/center/issues/892
When comparing our Brand ecosystem sites with dotcom site. The white cookie preferences button appears just for few seconds on IBM.com pages, in fact on our Brand sites it appears for ap

[2021-02-03 21:40] rmathur16 commented on #867
On a second thought at present on Brand site when ‘Cookie preferences’ link disappears without user taking any action on it,  I'm wondering whether we are GDPR compliant or not? Since after button disappears user has no place to give consent to collect data. So I think it's mandatory to have ‘Cookie preferences’ link on the footer of our sites.
Thoughts?
@mjabbink @sadekbazaraa @kennethhartmann

[2021-02-04 03:30] mjabbink commented on #867
I think we avoid the issue by placing it in the footer as IBM.com does. I think we’ll escape any Police beatings and incarcerations.

[2021-02-04 12:31] Palke commented on #867
@mjabbink @rmathur16 @sadekbazaraa Hi guys. Just to chime in. Bases on articles from the issue https://github.ibm.com/brand/center/issues/892 this text button indeed seems to be requirement.

Carbon for .com and their documentation site (based on the Gatsby Theme) are using solution that was created for them. We could maybe utilize the same, just to avoid having different implementations around.

[2021-02-08 09:36] #782 closed

[2021-02-09 20:46] rmathur16 opened #870 "DL slow page load time on mobile and desktop - Optimize Images for Web and Performance"
@kennethhartmann @sadekbazaraa @KSandeep5 @mjabbink @vpicone
**Background DL site speed:** DL pages are experiencing slow page load time both in Mobile as well as on Desktop.

**Tested DL pages on:** https://developers.google.com/speed/pagespeed/insights/

**How to improve DL site speed?**

**Mindful of the file size of the source image and reduce the size of it.**
Per Vince and Alison - https://s

[2021-02-09 20:47] rmathur16 commented on #870
I'll reach out individually/slack channels to discuss this further. Thank you.

[2021-02-12 20:02] vpicone commented on #870
@rmathur16 are there particular pages of concern? The majority of our users are desktop where the performance for the homepage is fine
![image](https://user-images.githubusercontent.com/4078018/107816829-f0c67200-6d3a-11eb-80bf-a7c14b08f9b1.png)

[2021-02-12 20:17] vpicone commented on #870
I added a GH action to compress the images on demand and on a schedule (every Sunday). I ran it once [here](https://github.com/carbon-design-system/design-language-website/pull/872) and it caught some easy compression.

[2021-02-12 20:17] rmathur16 commented on #870
@vpicone This is just one example and there are plenty of pages like these. And I do understand that our majority of users are on desktop but at the same time we should strive for improving our mobile performance as well. Thx.
Attached screenshot for - https://www.ibm.com/design/language/gallery

![Screenshot_2021-02-12 PageSpeed Insights](https://user-images.githubusercontent.com/38890232/1078182

[2021-02-12 20:21] vpicone commented on #870
@rmathur16 make sure your browser is in incognito mode when you run lighthouse, it can have a significant impact on the results:
![image](https://user-images.githubusercontent.com/4078018/107818719-a5619300-6d3d-11eb-8681-7cf18714d20a.png)

[2021-02-12 20:33] rmathur16 commented on #870
Yes @vpicone now checked in incognito mode...and this what I got for mobile and desktop.
![incog01](https://user-images.githubusercontent.com/38890232/107819704-941d8400-6d47-11eb-9a90-7ad404572a91.jpg)
![incog02](https://user-images.githubusercontent.com/38890232/107819706-941d8400-6d47-11eb-9466-b52e72b241b4.jpg)

[2021-02-12 21:31] vpicone commented on #870
@rmathur16 the lab data from pagespeed insights is less reliable than running lighthouse in your browser dev tools: https://github.com/GoogleChrome/lighthouse/issues/6708

Try giving that a try. Are users complaining about the site being slow?

[2021-02-15 16:02] rmathur16 commented on #870
@vpicone so https://developers.google.com/speed/pagespeed/insights/ is less reliable than running lighthouse in your browser dev tools? what are the steps to run lighthouse in browser dev tool? Not sure where it's mentioned on the link you have provided (GoogleChrome/lighthouse#6708).

Being a user myself I see the site is pretty slow specially on mobile. And if we can work on optimizing the image

[2021-02-17 14:20] vpicone commented on #867
This is a consequence of using Tableu, rather than Fathom along with user privacy concerns that I brought up to @rmathur16 and Ken during our meeting.

Hiding it or tucking it away while storing cookies makes it even more egregious. IBM.com delivers the hidden version based on a users country of origin which is dubious at best. If you go to the French version of the site you'll se the same pop up.

[2021-02-17 15:03] Palke commented on #867
@rmathur16 as per my discussion with Vince on Slack we should avoid updating theme component. We can shadow the full Footer as I did here: https://pages.github.ibm.com/Pavol-Meszaros1/preview/cookie-pref/ in order to get it up.

We can now move forward with decision on the technical implementation.

[2021-02-25 04:05] mjabbink opened #880 "IDL Site Data Vis page: Remove “Design only” tag from Treemap chart image"
@mjabbink commented on [Wed Feb 24 2021](https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1099)

remove tag from here: https://www.carbondesignsystem.com/data-visualization/chart-types/#part-to-whole

<img width="397" alt="Screen Shot 2021-02-23 at 3 20 52 PM" src="https://user-images.githubusercontent.com/32881239/109074625-9f649e00-76bd-11eb-9ad4-d54a5c3ca454.png">

---

@mjabb

[2021-03-02 18:34] #880 closed

[2021-03-03 04:11] mjabbink opened #883 "In mobile the dropdown should be white"
https://www.ibm.com/design/language/typography/typeface

Dropdown should be white when the tabs change to dropdown in mobile:

![Screen Shot 2021-03-02 at 10.05.56 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/8d67bc14-c30e-40da-a948-a7d89d139507)

FYI: Master @sadekbazaraa

[2021-03-03 07:25] DianaStanciulescu opened #884 "Clean up IDL unused images"
Look through IDL and delete or "archive" unused images.

[2021-03-03 07:25] DianaStanciulescu commented on #884
FYI @vpicone

[2021-03-03 17:59] sadekbazaraa commented on #883
Thanks @mjabbink

@vpicone @alisonjoseph The bug is appearing on [Subfamilies](https://www.ibm.com/design/language/typography/typeface/#subfamilies) at the mobile breakpoint but works fine just below on [Type tester](https://www.ibm.com/design/language/typography/typeface/#type-tester)

Correct at large break point
![Screen Shot 2021-03-03 at 12 52 39 PM](https://user-images.githubusercontent.com/

[2021-03-03 18:08] mjabbink commented on #883
Good fix. I screen grabbed the wrong component! Thanks @sadekbazaraa!

[2021-03-04 21:21] alisonjoseph opened #885 "Document process to update App Icons"
Can we add information to the readme to outline the process to update/add App icons to the website?

[2021-03-05 15:26] alisonjoseph commented on #767
I'm also unable to replicate. Going to close for now.

[2021-03-05 15:26] #767 closed

[2021-03-10 14:52] mjabbink commented on #867
@rmathur16 @Palke Let’s get what you did for BC applied here please. This was the original issue.

[2021-03-15 15:33] sadekbazaraa opened #894 "[IDL] Color specs update: Orange/Yellow PMS values are wrong"
These are the correct PMS values for this section:
https://www.ibm.com/design/language/color#specifications

![Screen Shot 2021-03-12 at 10.10.46 AM.png](https://images.zenhubusercontent.com/5ae76b2b4b5806bc2bd136f9/3d38b259-aafb-46f0-99b2-b6801f08a56a)

Should replace the current values:

![Screen Shot 2021-03-15 at 11.30.59 AM.png](https://images.zenhubusercontent.com/5ae76b2b4b5806bc2bd136f9/1c

[2021-03-15 16:47] sadekbazaraa commented on #894
FYI @Katie-A-IBM (testing to see if I can tag Katie)

[2021-03-15 17:12] Katie-A-IBM commented on #894
@sadekbazaraa Received! Thanks, Sadek.

[2021-03-25 01:56] mjabbink opened #900 "Add missing chart images to Charts page"
https://www.ibm.com/design/language/data-visualization/charts

Synchronize mini chart illustrations with Carbon site.

Carbon
![Screen Shot 2021-03-24 at 8.53.55 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/91710336-0f0a-473a-b1b6-6b144978e5ee)

———
IDL
![Screen Shot 2021-03-24 at 8.54.24 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/3c4e29cc-35d7-4

[2021-03-25 01:57] mjabbink commented on #900
Carbon
<img width="1096" alt="Screen Shot 2021-03-24 at 8 55 16 PM" src="https://user-images.githubusercontent.com/32881239/112407083-7139a480-8ce3-11eb-8d5f-1b073bba874b.png">

————
IDL

<img width="1132" alt="Screen Shot 2021-03-24 at 8 54 40 PM" src="https://user-images.githubusercontent.com/32881239/112407161-9a5a3500-8ce3-11eb-9df7-c98dd53f4dd6.png">

[2021-03-25 02:00] mjabbink commented on #900
FYI: @sadekbazaraa

[2021-03-25 13:31] jtweigle opened #901 "Typo: “Stacked headlines” section"
This is what I see, viewing the website in Firefox on Pop!_OS. Is this paragraph meant to start with “Stack headlines into …”?

[2021-03-25 13:32] sadekbazaraa commented on #900
Thanks @mjabbink I was just discussing updates to this page with @DanaPaslaru last week. @KSandeep5 let's be sure to get these changes on the books. Dana, do you have some bandwidth to help out with this one?

[2021-03-25 14:25] DanaPaslaru commented on #900
@sadekbazaraa @mjabbink Hi, yes, I'll look into it and make the sync. Thanks!

[2021-03-25 17:40] mjabbink commented on #900
Keep in mind Bullet, Boxplot and Circle pack are coming down the pike and will slot into this as well.

[2021-03-25 23:05] jeanservaas opened #1010 "fix[type specs component]: inline code snippet incorrect"
## fix[type specs component]: inline code snippet incorrect

The background of the inline code snippet is displaying as white (on a white background); it looks bad and doesn't prompt users to interact with it.

**Incorrect behavior**

![image](https://user-images.githubusercontent.com/43144260/112553456-8a4d5e80-8d92-11eb-9623-672c3ed12b18.png)

<br>

**Correct behavior (G20, $ui-03 background)**

[2021-03-26 19:07] mjabbink commented on #883
moved this to Gatsby Theme

[2021-03-29 15:58] peter-garvin opened #903 "Incorrect illustrator icons on library pages"
Illustrator icons (and all resource icons) have been updated to be global coming from this directory:
https://github.com/carbon-design-system/design-language-website/blob/master/src/images/resource-cards/

Seems that the resource card on library pages when theres no results is still using the old icon, but I dont know how to change it. This is for both UI icons and pictograms

<img width="1678" al

[2021-03-29 15:58] peter-garvin commented on #903
@vpicone Josh mentioned you might know about this

[2021-04-01 12:36] alisonjoseph opened #906 "Broken links on pictograms pages"
https://www.ibm.com/design/language/iconography/pictograms/design
- [x] The IBM pictograms master is a broken link leading to a 404 message

https://www.ibm.com/design/language/iconography/pictograms/library
- [x] The Download the pictogram master card is a broken link when users are prompted to download it from the Library tab when a search comes up empty.

[2021-04-01 12:44] alisonjoseph commented on #903
This will need to get updated on the Carbon website also.

[2021-04-05 16:55] #867 closed

[2021-04-09 14:09] #906 closed

[2021-04-09 14:31] alisonjoseph commented on #903
@peter-garvin I found where this is coming from, do you have the correct icon in svg form?

[2021-04-09 16:16] peter-garvin commented on #903
Not in SVG form, but the PNG can be found in src/images/resource-cards

if it needs to be SVG I'm sure we could find or make one

[2021-04-12 14:57] alisonjoseph commented on #905
This will need to get updated on the Carbon website also.

[2021-04-12 22:09] mjabbink commented on #905
In mobile the tooltip seems to get stuck on the home page. It won’t go away as you scroll up and down the page.

[2021-04-12 22:17] mjabbink commented on #905
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/32881239/114469497-e564bb00-9bb2-11eb-9ec4-4d7591815b30.gif)

[2021-04-13 03:23] mjabbink commented on #905
Actually it also get’s stuck in desktop as well.

[2021-04-13 03:24] mjabbink commented on #905
Should be Gatsby issue.

[2021-04-13 13:11] mjabbink opened #920 "Remove black lines around tabs"
Not sure where or how the black strokes came from but they should not be there. It seems to be only on this color page. It does not appear in GT demo site with the tab component. Seems isolated to color. Also in the color page of the new Workplace site.

IDL:
https://www.ibm.com/design/language/color#specifications

Workplace:
https://www.ibm.com/design/workplace/interior-architecture/color#accent

[2021-04-13 13:11] mjabbink commented on #920
FYI: @sadekbazaraa

[2021-04-13 13:29] sadekbazaraa commented on #920
Very weird @mjabbink, @Palke can you please see what's happening on the Workplace site? FYI @KSandeep5

[2021-04-13 13:43] Palke commented on #920
@sadekbazaraa This is happening since the Gatsby theme update. Component was reused from IDL. Will take a look on the WP. Thanks!

[2021-04-13 14:19] DanaPaslaru commented on #900
@sadekbazaraa @mjabbink Hi, I've made the adjustments on data vis charts page, here is the prview url:
https://design-language-website-il53hjlzy-carbon-design-system.vercel.app/data-visualization/charts

Was wondering if we should wait for bullet, circle and boxplot to be added...or should we move forward with this pull request and make a new one after we have the other three ones from Jeannie?

T

[2021-04-13 14:30] mjabbink commented on #920
Strange it’s not reflected in the GT demo site component and it’s only on the tabs in color pages (IDL and Workspace). All the other pages with tabs are fine. Hmmm.

[2021-04-13 14:37] Palke commented on #920
Those tabs are basically content switcher styled to look like tabs. Probably some update on Carbon styles was not compatible with the "customized" styles.

[2021-04-13 14:43] sadekbazaraa commented on #920
Thanks for the investigation @Palke, does there seem to be an easy remedy to remove?

[2021-04-13 14:48] Palke commented on #920
I have made a quick fix on WP site. Not sure if there is any better way for this - but seems it did the job. You can take a look and let me know if anything else is fishy, thanks.

[2021-04-13 14:58] sadekbazaraa commented on #920
Great @Palke, do you mind sharing your solution with @vpicone so he can update the IDL site and we can determine if there's a better solution going forward. I think a lot of different sites are using the color specs at this point.

[2021-04-13 15:57] #885 closed

[2021-04-13 17:24] mjabbink commented on #920
Seems resolved on WP but still broken on IDL color page.

[2021-04-14 06:40] #905 closed

[2021-04-16 13:50] #903 closed

[2021-04-23 15:56] KSandeep5 opened #935 "[IDL] What's New page"
## Title line template: [Title]: There are multiple images missing from the What's New page on IDL.

-->

## Detailed description

https://design-languag-git-fork-palke-feat-whatsnew-imagery-carb-ba17c2.vercel.app/whats-new/

Below is the Prod link that is missing the images:
https://www.ibm.com/design/language/whats-new

Possible issue could be update to the theme.

## Definition of Done:
Images

[2021-04-27 23:09] mjabbink commented on #935
and a few have been reduced in size

<img width="968" alt="Screen Shot 2021-04-27 at 6 08 17 PM" src="https://user-images.githubusercontent.com/32881239/116323454-9fe3e880-a783-11eb-9101-971dde83ff28.png">

<img width="948" alt="Screen Shot 2021-04-27 at 6 08 22 PM" src="https://user-images.githubusercontent.com/32881239/116323457-a1151580-a783-11eb-8d3d-41b00a322e8b.png">

[2021-05-03 17:18] mjabbink commented on #920
@alisonjoseph

[2021-05-03 17:22] mjabbink commented on #900
@DianaStanciulescu @DanaPaslaru We now have Bullet, Word Cloud, Boxplot, Lollipop, and floating bar available and updated on the Carbon site.

[2021-05-05 09:38] mjabbink commented on #905
@vpicone @alisonjoseph the tooltip is still not going away in mobile. The same recording above shows the current situation although alignment is resolved the "stuck" tooltip part is not. Should this be a separate issue?

[2021-05-07 15:42] mjabbink opened #949 "Revert back to “G100 background” under lead space."
NOt sure how this became gray but should be G100.

<img width="1316" alt="Screen Shot 2021-05-07 at 10 39 28 AM" src="https://user-images.githubusercontent.com/32881239/117474730-d9091f00-af20-11eb-9507-03fb3f9c8e94.png">

[2021-05-15 20:16] mjabbink commented on #796
This needs to be addressed asap. This issue has been open for over 6 months and it’s a name change.

[2021-05-15 20:17] mjabbink commented on #796
FYI @alisonjoseph

[2021-05-16 16:37] peter-garvin commented on #796
@mjabbink This is already fixed in my PR

[2021-05-17 00:39] mjabbink commented on #796
ok thanks @peter-garvin

[2021-05-17 20:47] vpicone commented on #949
@mjabbink @sadekbazaraa do think black like Carbon? g100 is the background color
<img width="883" alt="Screen Shot 2021-05-17 at 3 29 18 PM" src="https://user-images.githubusercontent.com/4078018/118554504-222e4f80-b727-11eb-87f5-b0dd216198cb.png">

[2021-05-17 20:47] vpicone commented on #949
Carbon for reference
<img width="684" alt="Screen Shot 2021-05-17 at 3 47 26 PM" src="https://user-images.githubusercontent.com/4078018/118554564-3b370080-b727-11eb-934d-3485a5e3609f.png">

[2021-05-17 23:24] #949 closed

[2021-05-18 10:30] DanaPaslaru commented on #900
@mjabbink @sadekbazaraa  Hi, I've updated the Chart page with the missing ones, you can preview them here: https://design-language-website-lrlrbr805-carbon-design-system.vercel.app/data-visualization/charts

One question: I saw that Bar chart (horizontal) and Grouped bar (horizontal) were removed from Comparisons on Carbon site; also, Stacked bar vertical was removed from part to whole section. Sh

[2021-05-19 18:01] sadekbazaraa commented on #900
Thanks for getting these in @DanaPaslaru
Seems like we should be consistent with what's available in Carbon.
Maybe check with @jeanservaas to see why the others were removed.

[2021-05-20 02:37] mjabbink commented on #900
Not sure why those were removed? Can you ping Iliad and Jeannie. I want to make sure that is not a mistake. If intentional then make the same as Carbon but if those were removed accidentally we need to add them back!

[2021-05-20 16:45] DanaPaslaru commented on #900
@mjabbink Hi, I've had a quick chat, with Eliad, they intentionally removed bar chart horizontal, grouped bar horizontal and stacked bar vertical; they've decided to make the demo pages smaller + more focused on the generality of the purpose of using a specific chart type.
I've updated the IDL charts to match what's now on Carbon, preview url here:
https://design-language-website-d83ftxgd9-carbon-

[2021-05-20 19:28] mjabbink commented on #900
Yes, I designed the new page with edited demos. But that said we did not need to remove those necessarily. But I think it works and Storybook is the place for all the variants. No need for Carbon page to have all those.

So, only thing remaining and for Carbon team as well is adding Circle pack thumbnail to Chart types page. Carbon has a PR open to add Circle Pack to the “Complex charts” page.

[2021-05-20 19:34] mjabbink commented on #900
nice work @DanaPaslaru

[2021-05-21 10:32] DanaPaslaru commented on #900
@mjabbink Hi, so we'll wait a bit more, to have circle pack thumbnail, right? and then push this page to deployment. Thanks!

[2021-06-10 14:11] alisonjoseph commented on #865
This is resolved

[2021-06-10 14:11] #865 closed

[2021-06-10 14:15] alisonjoseph commented on #796
Is this resolved @peter-garvin

[2021-06-10 15:33] peter-garvin commented on #796
Yep!

[2021-06-10 15:33] #796 closed

[2021-06-14 18:44] mjabbink opened #965 "Add Plex Sans JP to the Typeface page & remove resource card for Noto JP"
- [x]  Add Japanese to the type testers above Korean —https://www.ibm.com/design/language/typography/typeface/#non-latin-scripts

Use this test as a sample:  設計された

- [x] Remove resource card aiming to Noto Sans Japanese

![Screen Shot 2021-06-14 at 1.36.24 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/dc661019-f397-43e5-8aef-457592651938)

- [x] Update text in “Asian scrip

[2021-06-14 18:45] mjabbink commented on #900
@DanaPaslaru Circle Pack is live. @jeanservaas is there a thumbnail you can pass to @DanaPaslaru? We also need to update the Carbon page thumbnails as well

[2021-06-15 15:13] mjabbink commented on #965
@sadekbazaraa @vpicone Would be nice to have this updated with the release of Plex JP

[2021-06-15 16:43] mjabbink commented on #965
Waiting for some final files but @vpicone can chime in on timing.

[2021-06-16 19:22] mjabbink commented on #965
<img width="1015" alt="Screen Shot 2021-06-16 at 2 21 42 PM" src="https://user-images.githubusercontent.com/32881239/122279962-4314cc80-ceae-11eb-8915-c8408338d76d.png">

[2021-06-16 19:26] mjabbink commented on #965
Asian scripts

The Chinese scripts are currently under development. Chinese is scheduled for release in 2022–2023 and will support both Traditional and Simplified Chinese. In the meantime, we have chosen an open source Chinese typefaces that can work well with the IBM Plex Family.

[2021-06-17 15:04] vpicone commented on #965
Yeah we don't have the final Japanese files yet, release will be a couple days after that. I'll make a note to update this card as part of the release.

[2021-06-24 20:41] mjabbink commented on #900
@DianaStanciulescu @DanaPaslaru Is there design needed or can this move to dev? This issue is starting to linger

[2021-06-25 06:59] DanaPaslaru commented on #900
@mjabbink HI, I just need to add the carbon page url for circle pack, then it should be good to go. For some strange reason, the circle pack is not visible at the moment in the main charts type carbon page. Thanks!

[2021-06-25 17:14] mjabbink commented on #900
👍

[2021-06-26 05:26] mjabbink opened #978 "Mobile: The dropdown should be white. Original issue 1109"
In the mobile, the tab becomes a dropdown and should be white. The original issue was closed but this looks like it was not resolved.
https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1109

![IMG_0546.jpg](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/98f8a53e-d11c-4434-95b0-2e0a14570915)

[2021-06-26 05:30] mjabbink commented on #978
@vpicone I’m not sure this issue was ever resolved but it was closed.

[2021-06-26 05:32] mjabbink commented on #978
Also is happening here
https://www.ibm.com/brand/systems/watson/brand/color#illumination

<img width="514" alt="Screen Shot 2021-06-26 at 12 31 44 AM" src="https://user-images.githubusercontent.com/32881239/123503030-f354a480-d615-11eb-812f-6b5f2579d9e9.png">

[2021-06-28 15:53] DanaPaslaru commented on #900
@mjabbink Hi, the new charts are all updated, preview url here: https://design-language-website-hq6s0bds3-carbon-design-system.vercel.app/data-visualization/charts

PR here: https://github.com/carbon-design-system/design-language-website/pull/918

Thanks!

[2021-06-28 17:50] mjabbink commented on #900
Nice. Looks good.

[2021-06-28 18:51] vpicone commented on #978
closed by [3f8c1b8](https://github.com/carbon-design-system/design-language-website/commit/3f8c1b8df018fae7111b5223c2be5a62f6513960)

[2021-06-28 18:51] #978 closed

[2021-06-29 18:57] mjabbink commented on #965
@vpicone 2 of the three tasks are taken care of since I know how to achieve those. The last one is in your hand's brother.

[2021-06-29 19:09] mjabbink commented on #901
PR: https://github.com/carbon-design-system/design-language-website/pull/981

[2021-06-29 19:09] mjabbink commented on #901
Good catch @jtweigle

[2021-07-02 06:28] mjabbink commented on #900
@DanaPaslaru and @vpicone All the links from the cards are now broken and revealing 404 page

[2021-07-02 22:29] #894 closed

[2021-07-07 19:27] mjabbink commented on #965
@vpicone Can you provide me some timeframe for 1). The last item left in this issue and 2). The release of the Plex JP files in the repo.

There are communication plans in play that are dependant upon the release and addition to the Type page on the IDL site.

[2021-07-07 19:27] mjabbink commented on #965
Final files for github were provided by Bold Monday several weeks ago.

[2021-07-08 22:24] vpicone commented on #965
1. The last item left takes 30 seconds but is pointless until JP is released
2. My goal is to have a beta released by the end of next week

[2021-07-08 23:03] Katie-A-IBM commented on #965
@mjabbink Please see above.

[2021-07-09 17:58] mjabbink commented on #965
Perfect. Sounds good. Thanks for update because the timing was not clear to me.

[2021-07-12 16:11] #901 closed

[2021-07-13 15:31] mjabbink commented on #965
@vpicone Once you have a beta release it’s fine to get the JP in the IDL typeface page typesetter (last item in the issue). The JP fonts themselves should not be beta so not sure what you mean by beta release.

[2021-07-13 21:54] mjabbink opened #988 "Replace lead video on Typeface page"
The lead video has been updated to with corrected Devanagari ligature and the addition of **Plex Japanese**.

Please replace video on this page: https://www.ibm.com/design/language/typography/typeface

[2021-07-13 21:59] mjabbink commented on #988
For @vpicone Video download: https://ibm.box.com/s/hvw3kxad4m7srq66ez9mjwo94va5dpaj

[2021-07-20 15:33] mjabbink commented on #965
@vpicone Hows this last typesetter item going? Plex JP launch?

[2021-07-20 15:36] mjabbink commented on #365
@sadekbazaraa This 95% does not seem to be enough. We should check with dotcom team to see what this is looking like in their components.

[2021-07-20 18:59] sadekbazaraa commented on #365
@mjabbink I was just noticing this throughout Gatsby sites. Still seems like copy is going full width in most places. We've tackled this many times so I'm not sure why it continues to come up. It would be nice to understand the definitive rule so we can update the guidance to be accurate.

[2021-07-20 19:07] mjabbink commented on #365
@sadekbazaraa can you share some of those screen grabs and we can discuss with Vince, Jeannie and Shix.

[2021-07-20 20:24] sadekbazaraa commented on #365
Sure thing @mjabbink here are a handful of examples where body copy is going "full bleed".

![Screen Shot 2021-07-20 at 4 22 29 PM](https://user-images.githubusercontent.com/33162280/126390477-3d8e3934-bd57-40ad-b3c1-47958b2d93d1.png)

![Screen Shot 2021-07-20 at 4 21 36 PM](https://user-images.githubusercontent.com/33162280/126390501-f39fbacd-65c9-4608-832a-26574fbd4040.png)

![Screen Shot 2021-0

[2021-07-20 20:43] mjabbink commented on #365
Thanks @sadekbazaraa. It’s especially broken with a list as it seems to push beyond the grid in that case.

@vpicone We need to address this since it’s not like a 3-year long issue that has not really ever been resolved. Over the years we’ve had at least 2–3 issues regarding this. I reckon we need to make another with very clear guidance and get this prioritized this time.

[2021-07-21 02:49] #900 closed

[2021-07-21 16:23] #988 closed

[2021-07-24 01:31] mjabbink commented on #759
@DianaStanciulescu Should we close this?

[2021-07-24 01:32] mjabbink commented on #752
@sadekbazaraa @kennethhartmann Should this close?

[2021-07-24 01:33] #718 closed

[2021-07-24 03:58] #965 closed

[2021-07-26 08:44] DianaStanciulescu commented on #759
I don't think we solved it but nobody is making any decisions on this process and things seem to be working ok with out current process, so probably yes. @peter-garvin  what do you think?

[2021-07-30 13:12] sadekbazaraa commented on #752
Great question @mjabbink I think the same issue still stands. Since you have to agree to legal terms in order to use the rebus, I think this section needs to be removed. Actually, it can't really be available on Brand Center either unless you've agreed to all the terms. There's a whole new set of brand assets that are coming and will need thinking through so my suggestion for the time being is to

[2021-07-30 18:40] mjabbink commented on #759
Either we close or move into the “Brand priority” column. It can’t site in N/A column

[2021-08-02 09:25] DianaStanciulescu commented on #759
I would close in this case. probably not a brand priority.

[2021-08-02 15:08] DianaStanciulescu commented on #759
this sounds like an awesome idea!

[2021-08-02 16:15] mjabbink commented on #759
@peter-garvin @DianaStanciulescu agree!

[2021-08-03 17:23] peter-garvin opened #999 "Existing app icon request button"
We'd like a way for users to request unassigned app icons similar to how UI icons are downloaded:
<img width="832" alt="Screen Shot 2021-08-02 at 9 54 00 AM" src="https://user-images.githubusercontent.com/47458576/128058563-b15203db-0cf4-4a21-b5f0-14ae1a4a8ff3.png">

- This would need to be for **Unassigned icons only**
- If possible, it would be nice to have a light tooltip on dark theme, and a d

[2021-08-30 15:00] mjabbink commented on #365
@alisonjoseph Not sure what keeps happening on this issue but it keeps coming back. Over the last few years, I feel like we have made 3–4 exact issues and it gets fixed but then it goes south again.

[2021-09-07 23:27] mjabbink opened #1009 "App icon library tabs adds a pixel under tabs when scrolling"
Look under “Library” tab on scroll

<img width="577" alt="Screen Shot 2021-09-07 at 6 24 46 PM" src="https://user-images.githubusercontent.com/32881239/132422723-2e85c7c7-2317-42b2-98e8-f7c78195c683.png">

<img width="277" alt="Screen Shot 2021-09-07 at 6 24 54 PM" src="https://user-images.githubusercontent.com/32881239/132422735-c8b6727f-131a-4a07-8ac9-2d535f9c6fb9.png">

[2021-09-07 23:28] mjabbink commented on #1009
@peter-garvin @sadekbazaraa

[2021-09-08 17:30] sadekbazaraa commented on #1009
Hmmm... @mjabbink  I'm not sure what's causing that offset but I do see it.
@vpicone @alisonjoseph ?

[2021-09-08 17:57] vpicone commented on #365
@mjabbink totally. I'm happy to implement a fix, we just need a design spec.

[2021-09-08 23:50] mjabbink commented on #365
Related to https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1156

[2021-09-17 21:17] mjabbink commented on #365
I think the relative spec is also here carbon-design-system/gatsby-theme-carbon#1156

[2021-09-20 16:17] DanaPaslaru opened #1016 "Update IDL charts page - Add missing charts to Charts page"
add following charts:
- Tree diagram
- Alluvial
- Network diagram (update thumbnail, remove tag)

+ Proportional meter, currently there's no thumbnail

[2021-09-20 16:25] DanaPaslaru commented on #1016
update the IDL charts to match ones from carbon design website:
<img width="959" alt="image" src="https://user-images.githubusercontent.com/64195956/134038305-094c8c1e-c6dc-466c-a0bb-32443bda3d38.png">

[2021-09-27 12:41] DanaPaslaru commented on #1016
@mjabbink @sadekbazaraa Hi, I've updated the IDL Chart page with network diagram, tree diagram and updated url for alluvial. Here is the preview url:
https://design-language-website-git-fork-da-c9be47-carbon-design-system.vercel.app/data-visualization/charts

PR here: https://github.com/carbon-design-system/design-language-website/pull/1022

Thanks!

[2021-09-27 13:19] sadekbazaraa commented on #1016
Thanks @DanaPaslaru exciting! Looks good by me.

[2021-09-27 23:19] mjabbink commented on #1016
Thanks @DanaPaslaru! Looking good but seeing this update made me see I failed to also mention we have Histogram as well. Sorry for late notice.

[2021-09-28 13:32] DanaPaslaru commented on #1016
@mjabbink @sadekbazaraa Hi, I've removed the disable state for Histogram, it's active now:
https://design-language-website-git-fork-da-c9be47-carbon-design-system.vercel.app/data-visualization/charts

Thanks!

[2021-09-28 13:50] #884 closed

[2021-10-01 14:33] alisonjoseph commented on #365
@vpicone

Should be 8 col - 32px based on the spec in the link above.
![image](https://user-images.githubusercontent.com/2753488/135637801-3f312dd3-fd66-468c-b554-e93878f2e566.png)

[2021-10-01 14:35] alisonjoseph commented on #365
Should we move this issue to the theme repo @vpicone ?

[2021-10-03 23:27] mjabbink commented on #1016
@DanaPaslaru Looking good!

[2021-10-06 14:04] vpicone commented on #365
@alisonjoseph @mjabbink I'm a bit confused here. Is this in regards to all body copy on the page? The initial issue seemed to pertain just to cards.

[2021-10-06 14:08] alisonjoseph commented on #365
I was just looking at this issue, I believe this is asking to update the guidance image? (we just merged in a fix for the actual line length bug in the theme with lists/headings).

Is there an updated image for us to drop into the website? @wonilsuhibm

[2021-10-11 21:58] mjabbink commented on #1016
@DanaPaslaru This looks live so closing.

[2021-10-11 21:58] #1016 closed

[2021-10-11 22:00] mjabbink commented on #999
@peter-garvin SHould it be a different icon?  I’m fine with this but just wondering if there might be a better one for making a request on github.

[2021-10-15 12:55] alisonjoseph commented on #365
@mjabbink I believe the body copy was fixed over here https://github.com/carbon-design-system/gatsby-theme-carbon/issues/1156 in this PR https://github.com/carbon-design-system/gatsby-theme-carbon/pull/1172

Going to close this issue, please re-open or create a new issue/PR with updated guidance images if needed.

[2021-10-15 12:55] #365 closed

[2021-11-04 19:17] #1010 closed

[2021-11-10 17:29] #1009 closed

[2021-11-12 01:10] mjabbink opened #1043 "Correct type tokens on the Typography page table"
https://www.ibm.com/design/language/typography/type-specs-ui#type-set

This is current in IDL. The line-height is too large compared to Carbon if that is the correct token.
![Screen Shot 2021-11-11 at 7.09.18 PM.png](https://images.zenhubusercontent.com/5b8a10c6501b696007018606/4af88199-cc83-4d4b-a038-d63f89a78930)

Expected (current in Carbon site)
![Screen Shot 2021-11-11 at 7.09.25 PM.png](http

[2021-11-18 20:05] mjabbink opened #1047 "Update “Universal Experiences“ to “Experience Standards” in site switcher"
This needs to happen in

— IDL and Brand Center
— Carbon

And anywhere else using this content in the site switcher

[2021-11-18 20:06] mjabbink commented on #1047
<img width="284" alt="Screen Shot 2021-11-18 at 2 01 13 PM" src="https://user-images.githubusercontent.com/32881239/142488840-e57dc62e-efea-4c10-8b55-51bfabfdcd84.png">

[2021-12-02 19:25] alisonjoseph commented on #1047
@aledavila after we do a theme release just need to pull in the latest to get the switcher update

[2021-12-06 20:43] #1047 closed

[2021-12-14 16:56] mzuliani-ibm opened #1056 "Broken download link on Technical diagrams page"
## Broken download link on Technical diagrams page

## Detailed description

RE hidden pages: Technical diagrams
https://www.ibm.com/design/language/infographics/technical-diagrams/design/
https://www.ibm.com/design/language/infographics/technical-diagrams/usage

404 error when trying to download Adobe Illustrator template files at:
https://www.ibm.com/design/language/files/Technical-diagrams-kit_

[2021-12-14 17:14] mzuliani-ibm commented on #1056
Also consider adding a link to corresponding Carbon Charts code:
https://www.carbondesignsystem.com/data-visualization/complex-charts/#network-diagrams

[2022-01-25 20:01] #1043 closed

[2022-01-26 20:06] alisonjoseph commented on #1056
PR Open to fix the download links, I'll defer to the Brand team on adding links and how/where they want to do that.

[2022-01-26 20:07] alisonjoseph commented on #870
Closing for now, will reopen if needed

[2022-01-26 20:07] #870 closed

[2022-01-27 16:23] #1056 closed

[2022-01-27 16:48] mzuliani-ibm commented on #1056
The PR just adds a download icon to the tile, the download URLs for the Illustrator files are still broken as far as I can tell. Can this issue be reopened?
@sstrubberg

[2022-03-30 12:47] Danilo-Colonheze-IBM opened #1092 "People palette zip file not downloading"
## Detailed description

Trying to download the zip file using the Resource card from the bottom of the page, gives out a 404 page.

## Steps to reproduce the issue

1. Go to https://www.ibm.com/design/language/illustration/people/#people-palette
2. Find and click the Resource Card

## Additional information

- It's a problem in the file path

[2022-03-31 18:48] #1092 closed

[2022-05-16 07:22] Palke opened #1106 "Intermittent image loading issues"
There has been report from some users that images (mostly on newly created pages) are not loading properly on the first visit.

I have managed to replicate this issue multiple times on various pages, but there is no pattern to follow to replicate it as this issue appears to be somewhat random.

Last time this issue happened (on this page https://www.ibm.com/design/language/infographics/technical-d

[2022-06-08 18:21] #999 closed

[2022-07-22 19:01] tay1orjones opened #1122 "[IDL]: Icons need updated to latest"
The site needs updated to include the newest icons and pictograms. They're present on the Carbon website, but not here.

Check dependabot settings.

[2022-08-01 19:14] #1122 closed

[2022-08-17 19:09] tay1orjones opened #1131 "Update IDL site with new icons (post Carbon v11.10.0 release)"
New icons were delivered in https://github.com/carbon-design-system/carbon/pull/11942

Some deprecations were also delivered in https://github.com/carbon-design-system/carbon/pull/11973

Once they're published/released we need to
- [x] Update the icons and pictogram packages for the IDL site
- [ ] Ensure that the following icons do not show up on the IDL site by extending the exception list here:

[2022-08-26 01:10] #1131 closed

[2022-09-16 18:44] Danilo-Colonheze-IBM opened #1145 "404 error on Third Party IBM Logo guidelines"
## [Resource card giving 404]: Third party IBM logo goes 404 when clicked to access the .pdf

## Detailed description

Describe in detail the issue you're having.:
**On the [Third party section](https://www.ibm.com/design/language/ibm-logos/8-bar/#third-party-logo-usage) in the 8-bar logo page, clicking the card results in a 404 page.**

What did you expect to happen? What happened instead? What w

[2022-09-28 19:16] Huda-TO commented on #1145
@Danilo-Colonheze-IBM What is the status of this issue? Is anyone working on this?

[2022-09-28 20:33] #1145 closed

[2022-09-28 20:39] Huda-TO commented on #1145
The 404 error is still there?

[2022-09-29 12:19] Danilo-Colonheze-IBM commented on #1145
@Huda-TO the issue is solved and the resource card now opens the file correctly!

[2022-09-29 12:30] tw15egan commented on #1145
@Huda-TO there was probably a delay between the merge being committed and auto-closing the issue and the subsequent deployment run.

[2022-10-06 09:46] EwonRael opened #1156 "Missing Condesed Family on IBM Plex font website"
## Detailed description

On the page https://www.ibm.com/plex/plexness/ I am expecting to see a preview of the IBM Plex condensed font but instead my browser just renders the default font. Either add the condensed version of the font or remove this option from the drop-down?

## Steps to reproduce the issue

1. Go to https://www.ibm.com/plex/plexness/
2. scroll to the bottom of the page.

## Addit

[2022-10-06 16:16] mjabbink opened #1153 "Switch App icon library to default in Light theme"
https://www.ibm.com/design/language/iconography/app-icons/library/

`FROM:`

<img width="906" alt="Screen Shot 2022-10-06 at 11 15 24 AM" src="https://user-images.githubusercontent.com/32881239/194365333-c0fd22fc-9a66-44b7-9c7e-886063543c8b.png">

v
v
v
v
v

`TO:`

<img width="904" alt="Screen Shot 2022-10-06 at 11 15 13 AM" src="https://user-images.githubusercontent.com/32881239/194365430-44aff95

[2022-10-07 18:40] abhilipsasahoo03 commented on #1106
Just faced similar issue in the Resources page.

### Screenshots

![Screenshot_2022-10-07-23-55-19-274_com.android.chrome.jpg](https://user-images.githubusercontent.com/80174214/194627016-0bd450f0-561c-4141-90aa-e3dde367b3e2.jpg)

![Screenshot_2022-10-07-23-58-06-775_com.android.chrome.jpg](https://user-images.githubusercontent.com/80174214/194627044-539c2c30-19bd-4ab4-bcb7-c6e38bdcfd4a.jpg)

![Sc

[2022-10-13 02:25] mjabbink commented on #1153
FYI @DianaStanciulescu @andreeavintila @DanaPaslaru

[2022-11-16 15:09] mjabbink commented on #1156
@EwonRael True! We'll get on it.

[2022-11-16 15:12] mjabbink commented on #1153
Let’s get this done please

[2022-11-16 19:11] #837 closed

[2022-11-16 19:34] tay1orjones commented on #1156
@EwonRael Yes thanks for reporting. This unfortunately isn't part of the IDL website. As this references the Plex website itself, that would be on an [internal-only repository](https://github.ibm.com/brand/plex) I'm afraid.

I've [duplicated this issue there](https://github.ibm.com/brand/plex/issues/73), and going to close this one out. Thanks again!

[2022-11-16 19:34] #1156 closed

[2022-11-17 21:29] ljcarot commented on #1153
@aledavila Can you pick this up?

[2022-11-17 21:56] #752 closed

[2022-11-17 21:57] #824 closed

[2022-11-17 21:57] #1106 closed

[2022-11-28 15:32] #1153 closed

[2022-11-30 01:10] mjabbink opened #1167 "Remove “Design only“ tag from Heatmap thumbnail"
https://www.ibm.com/design/language/data-visualization/charts#correlations

<img width="692" alt="Screen Shot 2022-11-29 at 7 05 46 PM" src="https://user-images.githubusercontent.com/32881239/204682593-36b69c51-8d5d-4d0a-a732-03185f709af0.png">

[2022-11-30 15:20] tay1orjones opened #1168 "test"

[2022-11-30 15:23] tay1orjones commented on #1168
Closed via https://github.com/carbon-design-system/design-language-website/commit/4c9cc5894e08bdab4f3da8e7ebd5279accaa3f4c